<div style="float:left;font-family: Arial, Geneva, Tahoma, sans-serif;font-size: 22px;padding-top: 15px">
        <u><label font-size="20px" font-name="arial" style="align-content: center; margin-left: 500px;"> STATE SCORE  UPDATION FORM</label></u><br/>
</div>

<br/><br/><br/><br/>
<div class="row"  >
    <div class="col-md-3 col-sm-6 col-xs-12">
        <label font-size="20px">Population Census 2011 :</label>
    </div>
    <div class="col-md-3 col-sm-6 col-xs-12">
         <input type="text" name="Population_Census_2011"    class="form-control"  width="100px">
    </div>
    <div class="col-md-3 col-sm-6 col-xs-12">
        <label font-size="20px">TG12 Housing Shortage  :</label>
    </div>
    <div class="col-md-3 col-sm-6 col-xs-12">
        <input type="text" name="TG_12_Housing_Shortage"   class="form-control" width="100px">
    </div>
</div>

<div class="row">
        <div class="col-md-3 col-sm-6 col-xs-12">
            <label font-size="20px">Aadhar Coverage  :</label>
    </div>
    <div class="col-md-3 col-sm-6 col-xs-12">
                <!-- <input type="text" class="form-control">CSMCNo -->
            <input type="text" name="Aadhar_Coverage"    class="form-control" type="number">
     </div>
     <div class="col-md-3 col-sm-6 col-xs-12">
        <label>Cities included in Mission  :</label>
    </div>
    <div class="col-md-3 col-sm-6 col-xs-12">
        <!-- <input type="text" class="form-control"> FinYear -->
        <input type="text" name="Cities_included_in_Mission"     class="form-control">
    </div>    
</div>

<div class="row">
        <div class="col-md-3 col-sm-6 col-xs-12">
                <label>Total Demand asper Road Map  :</label>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <!-- <input type="text" class="form-control">NoofProjects -->
                <input type="text" name="Total_Demand_as_per_Road_map"     class="form-control" type="number">
            </div>
        
            <div class="col-md-3 col-sm-6 col-xs-12">  
                <label>Valid Aadhar Beneficiaries  :</label>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <!-- <input type="text" class="form-control">Project_Cost -->
                <input type="text" name="Valid_Aadhar_Beneficiaries"    class="form-control" type="number">
            </div>
    
   
</div>

<div class="row">
        <div class="col-md-3 col-sm-6 col-xs-12">
                <label>HFAPoA funds Released  :</label>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <input type="text" name="HFAPoA_funds_Released"    class="form-control" type="number">
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <label>HFAPoA Received  :</label>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <input type="text" name="HFAPoA_Received"     class="form-control" type="number">
            </div>
</div>

<div class="row">
        <div class="col-md-3 col-sm-6 col-xs-12">
                <label>HFAPoA funds Released  :</label>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <input type="text" name="HFAPoA_funds_Released"    class="form-control" type="number">
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <label>HFAPoA Received  :</label>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <input type="text" name="HFAPoA_Received"     class="form-control" type="number">
            </div>
</div>
<div class="row">
        <div class="col-md-3 col-sm-6 col-xs-12">
                <label>HFAPoA Status  :</label>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <input type="text" name="HFAPoA_Status"    class="form-control" type="number">
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <label>PMAY Funds Released  :</label>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <input type="text" name="PMAY_Funds_Released"     class="form-control" type="number">
            </div>
</div>
<div class="row">
        <div class="col-md-3 col-sm-6 col-xs-12">
                <label>PMAY Ucs Received  :</label>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <input type="text" name="PMAY_Ucs_Received"    class="form-control" type="number">
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <label>Reforms Achieved  :</label>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <input type="text" name="Reforms_Achieved"     class="form-control" type="number">
            </div>
</div>

 
<div class="row">
        <div class="col-md-3 col-sm-6 col-xs-12">
        <label>CLSS MIS Survey  :</label>
    </div>
    <div class="col-md-3 col-sm-6 col-xs-12">
        <input type="text" name="CLSS_MIS_Survey"    class="form-control" type="number">
    </div>
    <div class="col-md-3 col-sm-6 col-xs-12">
        <label>SLTC Funds Released_RsinnCr  :</label>
    </div>
    <div class="col-md-3 col-sm-6 col-xs-12">
        <input type="text" name="SLTC_Funds_Released_RsinnCr"      class="form-control" type="number">
    </div>
    
</div>

<div class="row">

        <div class="col-md-3 col-sm-6 col-xs-12">
                <label>SLTC Specialists Approved  :</label>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <input type="text" name="SLTC_Specialists_Approved"      class="form-control" type="number">
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
            <label>SLTC Specialists in Place  :</label>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12">
            <input type="text" name="SLTC_Specialists_in_Place"    class="form-control" type="number">
        </div>
 
</div>

<div class="row">

        <div class="col-md-3 col-sm-6 col-xs-12">
                <label>CLTC Funds Released RsinCr  :</label>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <input type="text" name="CLTC_Funds_Released_RsinCr"     class="form-control" type="number">
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <label>CLTC Specialists Approved  :</label>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <!-- <input type="text" class="form-control">UC_Received -->
                <input type="text" name="CLTC_Specialists_Approved"    class="form-control" type="number">
            </div>
</div>

<div class="row">
        <div class="col-md-3 col-sm-6 col-xs-12">
        <label>CLTC Specialists in Place  :</label>
    </div>
    <div class="col-md-3 col-sm-6 col-xs-12">
        <input type="text" name="CLTC_Specialists_in_Place"     class="form-control" type="number">
    </div>
    <div class="col-md-3 col-sm-6 col-xs-12">
            <label>BLC Houses Geo Tagged  :</label>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12">
            <input type="text" name="BLC_Houses_Geo_Tagged"     class="form-control" type="number">
        </div>    
</div>
