.main-div{
    border: 1px solid gray;
    height: 25px;
    text-align: center;
    background-color: white;
}
.parent-div{
    padding: inherit;
    /* background-color: #F3BE00; */
}
.col-md-4 {
    background-color: white;
}
.col-md-5 {
    width: 33.33333333%;
   
}
._ngcontent-sfy-c2{
    background-color: white!important;
}
