<div class="container">
    <br>

<div style="float: left; width: 200px;">
      <img src="src/assets/img/rs.png" height="50px" width="150px" />
</div>
<div style="float: left; width: 200px;">
    <img src="assets\img\home.png" height="50px" width="150px" />
</div>
<div style="float: left; width: 200px;">
  <img src="assets\img\employment.png" height="50px" width="150px" />
</div>

  <h5 align='center'>Construction of Houses (Nos in lakh)</h5>
  <br>
  <div class="row">
      <div class="parent-div col-md-5" >
          <div class="main-div col-md-4">
              Sanctioned
          </div>
          <div class="col-md-4">
        
          </div>
          <div style="background-color: white" class="main-div col-md-4">
                  Grounded
          </div>
      </div>
      <div class="parent-div col-md-5">
          <div class="col-md-4">
        
            </div>
            <div style="background-color: white" class="main-div col-md-4">
                Completed
              </div>
              <div class="col-md-4">
        
                </div>
      </div>
      <div style="background-color: white" class="main-div col-md-2">
          Occupied1</div>
  </div>
  <div class="row" >
      <div class="parent-div col-md-5">
          <div  style="background-color:orange;"  class="main-div col-md-4">
              83.69
          </div>
          <div class="col-md-4" style="background-color: #F3BE00;color:#F3BE00">
        
          </div>
          <div style="background-color: #F3BE00;color:#F3BE00"  class="main-div col-md-4">
                  49.54
          </div>
      </div>
      <div class="parent-div col-md-5">
          <div class="col-md-4">
        
            </div>
            <div style="background-color: #F3BE00" class="main-div col-md-4">
                26.14
              </div>
              <div class="col-md-4">
        
                </div>
      </div>
      <div style="background-color: #F3BE00" class="main-div col-md-2">23.97</div>
  </div>
  <br>
  <h5 align='center'>Expenditure of Central assistance (Rs. in Cr)</h5>
  <br>
  <div class="row">
      <div class="parent-div col-md-5">
          <div style="background-color:white;color: white" class="main-div col-md-4">
              Committed
            </div>
            <div class="main-div col-md-4">
        
              </div>
              <div style="background-color: white;color: white" class="main-div col-md-4">
                  Approved
                </div>
      </div>
      <div class="parent-div col-md-5">
          <div class="main-div col-md-4">
        
            </div>
            <div style="background-color: white;color: white" class="main-div col-md-4">
                Released
              </div>
              <div class="main-div col-md-4">
        
                </div>
      </div>
      <div style="background-color: white;color: white" class="main-div col-md-2">
          Utilised</div>
  </div>
  <div class="row">
      <div class="parent-div col-md-5">
          <div  style="background-color:black;color: white" class="main-div col-md-4">
              130293
            </div>
            <div class="main-div col-md-4">
        
              </div>
              <div style="background-color:black;color: white" class="main-div col-md-4">
                  72121
                </div>
      </div>
      <div class="parent-div col-md-5">
          <div class="main-div col-md-4">
        
            </div>
            <div style="background-color:black;color: white" class="main-div col-md-4">
                51550
              </div>
              <div class="main-div col-md-4">
        
                </div>
      </div>
      <div style="background-color:black;color: white" class="main-div col-md-2">41291</div>
  </div>

  <br>
  <h5 align='center'>Investment ( in lakh cr.)</h5>
  <br>
  <div class="row">
      <div class="parent-div col-md-5">
          <div style="background-color:green;" class="main-div col-md-12">
              Overall 
            </div>
            
      </div>
      <div class="parent-div col-md-5">
          <div class="main-div col-md-4">
        
            </div>
            <div style="background-color: green;" class="main-div col-md-4">
                Public
              </div>
              <div class="main-div col-md-4">
        
                </div>
      </div>
      <div style="background-color: green" class="main-div col-md-2">
          Private</div>
  </div>
  <div class="row">
      <div class="parent-div col-md-5">
          <div  class="main-div col-md-12">
              4.97
            </div>
           
      </div>
      <div class="parent-div col-md-5">
          <div class="main-div col-md-4">
        
            </div>
            <div class="main-div col-md-4">
                2.60
              </div>
              <div class="main-div col-md-4">
        
                </div>
      </div>
      <div class="main-div col-md-2">2.37</div>
  </div>
</div>