 
<br>
<div style="align-content: ;">
  PMAYU Achievements
</div>
<div class="container">
  

<div>  Construction of Houses ( Nos in lakh) </div>
<form  [formGroup]="dashboardForm" (ngSubmit)="onFormSubmit(dashboardForm.value)">

  <div class="row">
    <div class="col-md-2">
      <b>Sanctioned</b>
    </div>
    <div class="col-md-2">
        <input type="text" appTwoDigitDecimaNumber minlength="2" maxlength="15" required  name ="Sanctioned" formControlName="Sanctioned"   class="form-control">
    </div>
    <div class="col-md-2">
      <b>Grounded</b>
    </div>
    <div class="col-md-2">
      <input type="text"  appTwoDigitDecimaNumber minlength="2" maxlength="15" required  name ="Grounded" formControlName="Grounded" class="form-control">
    </div>
    <div class="col-md-2">
      <b>Completed</b>
    </div>
    <div class="col-md-2">
      <input type="text" name ="Completed"  appTwoDigitDecimaNumber minlength="2" maxlength="15" required  formControlName="Completed" class="form-control">
    </div>
  </div>


  <div class="row">
    <div class="col-md-2">
      <b>Occupied</b>
    </div>
    <div class="col-md-2">
<input type="text" name ="Occupied"  appTwoDigitDecimaNumber  minlength="2" maxlength="15" required  formControlName="Occupied"  class="form-control">
    </div>
    <div class="col-md-2">
      <b></b>
    </div>
    <div class="col-md-2">
      <!-- <input type="text" name ="txtCommitted" class="form-control"> -->
    </div>
    <div class="col-md-2">
      <b></b>
    </div>
    <div class="col-md-2">
      <!-- <input type="text" name ="txtApproved" class="form-control"> -->
    </div>
  </div>



  <div>Expenditure of Central assistance (Rs. in Cr)</div>
  <div class="row">
     
    <div class="col-md-2">
      <b>Committed</b>
    </div>
    <div class="col-md-2">
      <input type="text" name ="sCommitted"  appTwoDigitDecimaNumber  minlength="2" maxlength="15" required  formControlName="sCommitted"  class="form-control">
    </div>
    <div class="col-md-2">
      <b>Approved</b>
    </div>
    <div class="col-md-2">
      <input type="text" name ="Approved" appTwoDigitDecimaNumber minlength="2" maxlength="15" required  formControlName="Approved"  class="form-control">
    </div>
    <div class="col-md-2">
      <b>Released</b>
    </div>
    <div class="col-md-2">
<input type="text" name ="Released"  appTwoDigitDecimaNumber minlength="2" maxlength="15" required   formControlName="Released"  class="form-control">
    </div>
  </div>

  <div class="row">
    
    <div class="col-md-2">
      <b>Utilized</b>
    </div>
    <div class="col-md-2">
      <input type="text"  name ="Utilized"  appTwoDigitDecimaNumber minlength="2" maxlength="15" required formControlName="Utilized"  class="form-control">
    </div>
    <div class="col-md-2">
      <b></b>
    </div>
    <div class="col-md-2">
      <!-- <input type="text" name ="txtOverall" class="form-control"> -->
    </div>
    <div class="col-md-2">
      <b></b>
    </div>
    <div class="col-md-2">
      <!-- <input type="text" name ="txtOverall" class="form-control"> -->
    </div>
  </div>


  <div>Investment ( in lakh cr.)</div>
  <div class="row">
    <div class="col-md-2">
      <b>Overall</b>
    </div>
    <div class="col-md-2">
      <input type="text"  name ="Overall" appTwoDigitDecimaNumber  minlength="2" maxlength="15" required  formControlName="Overall"   class="form-control">
    </div>
    <div class="col-md-2">
      <b>Public</b>
    </div>
    <div class="col-md-2"> 
    <input type="text" name ="sPublic"  appTwoDigitDecimaNumber minlength="2" maxlength="15" required   formControlName="sPublic"  class="form-control">
    </div>
    <div class="col-md-2">
      <b>Private</b>
    </div>
    <div class="col-md-2"><!--(keypress)="keyPress($event)" -->
      <input type="text" name ="Private"  appTwoDigitDecimaNumber minlength="2" maxlength="15" required  formControlName="Private"  class="form-control">
    </div>
  </div>

  <div>Generation of Employment</div>
  <div class="row">
    <div class="col-md-2">
      <b>Person Days Direct</b>
    </div>
    <div class="col-md-2">
      <input type="text" name ="PDaysDirect"  appTwoDigitDecimaNumber  minlength="2" maxlength="15" required  formControlName="PDaysDirect"  class="form-control">
    </div>

    <div class="col-md-2">
      <b>Person Days Indirect</b>
    </div>
    <div class="col-md-2">
         <input type="text"  name ="PDaysIndirect"  appTwoDigitDecimaNumber minlength="2" maxlength="15" required  formControlName="PDaysIndirect"  class="form-control">
    </div>
    <div class="col-md-2">
      <b>Person Days Total</b>
    </div>
    <div class="col-md-2">
      <input type="text"  name ="PDaysTotal"  appTwoDigitDecimaNumber minlength="2" maxlength="15" required  formControlName="PDaysTotal"  class="form-control">
    </div>
      <div class="col-md-2">
      <b> </b>
    </div>
    <div class="col-md-2">
      <!-- <input type="text" name ="txtJobsDirect"   class="form-control"> -->
    </div> 
  </div>

  <div class="row">
    <div class="col-md-2">
      <b>Jobs Direct</b>
    </div>
    <div class="col-md-2">
      <input type="text" name ="JobsDirect"  appTwoDigitDecimaNumber minlength="2" maxlength="15" required   formControlName="JobsDirect"  class="form-control">
    </div>
    <div class="col-md-2">
      <b>Jobs  Indirect</b>
    </div>
    <div class="col-md-2">
      <input type="text"  name ="JobsIndirect"  appTwoDigitDecimaNumber  minlength="2" maxlength="15" required  formControlName="JobsIndirect"  class="form-control">
    </div>
    <div class="col-md-2">
      <b>Jobs Total</b>
    </div>
    <div class="col-md-2">
      <input type="text"  name ="JobsTotal"  appTwoDigitDecimaNumber minlength="2" maxlength="15" required  formControlName="JobsTotal"  class="form-control">
    </div> 
  </div>
  <div class="row" style="text-align: center;">
    <input type="submit" value="Submit" class="btn btn-primary"/>
  </div>
</form>
</div>
