<div class="container">
    <div class="row">
        <div class="col-sm-3"><input type="file" #fileInput (cahnge)="UploadFile($event)" /></div>
        <div class="col-sm-2"><button (click)="UploadFile($event)">Upload</button> </div>
        <div class="col-sm-7"><button (click)="DeleteTableJNNURM()">Delete</button></div>
      </div>
    <br>
    <br>
    <div>
            <select class="form-control" placeholder="Choose Sheet" style="width: 200px;">
              <option value="0">Select Sheet</option>
              <option *ngFor='let st of lstExcelSheet'>
                {{st.SheetName}}
              </option>
            </select>
    </div>
  <div style="overflow: auto;width:1100px;height:620px">  
    <table class="table table-striped" style="overflow-y:scroll; width:90px;border:1">
        <thead class="thead-dark" >
            <tr style="background-color: gray;color: white;">
                <th style="width:200px">SrNo</th>
                <th>Project Code</th>
                <th>State</th>
                <th>Scheme</th>
                <th>Distt</th>
                <th>CityTown</th>
                <th>State Code</th>
                <th>DisttCode</th>
                <th>SubDisttCode</th>
                <th>TownCode</th>
                <th>Project Title</th>
                <th>App_Date</th>
                <th>Cancelled Date</th>
                <th>O_ProjectCost</th>
                <th>O_CentrallShare</th>
  
                <th>O_DwellingUnit</th>
                <th>ProjCost</th>
                <th>Central Share</th>
                <th>Dwelling Unit</th>
                <th>Central_Share_Released_Projects</th>
                <th>Central_Share_Adjusted</th>
                <th>Excess_ACA_Released</th>
                <th>CentralShareRefundedbyStateGovt</th>
                <th>UC_Received</th>
                <th>Pending_UC</th>
                <th>Under_Progress</th>
                <th>Completed</th>
                <th>Allotted</th>
                <th>Occupied</th>
                <th>UnOccupied</th>
                <th>NonStarter</th>
                <th>Grounded</th>
                <th>Completed1</th>
                <th>Occupied1</th>
                <th>Division</th>
                 <th>Update</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody style="overflow-y:scroll; width:100px;">
            <tr *ngFor="let data of lstExcel|paginate:{itemsPerPage:5,currentPage:p}">
                <!-- <td>{{data.id}}</td> -->
                <td>{{data.SrNo}}</td>
                <td>{{data.Project_Code}}</td>
                
                <td>{{data.State}}</td>
                <td>{{data.Scheme}}</td>
                <td>{{data.Distt}}</td>
                <td>{{data.CityTown}}</td>
                <th>{{data.State_Code}}</th>
                <th>{{data.DisttCode}}</th>
               
                <th>{{data.SubDisttCode}}</th>
                <th>{{data.TownCode}}</th>
                <th>{{data.Project_Title}}</th>
           
                <th>{{data.App_Date}}</th>
                <th>{{data.Cancelled_Date}}</th>
                
                <th>{{data.O_ProjectCost}}</th>
                <th>{{data.O_CentrallShare}}</th>
                <th>{{data.O_DwellingUnit}}</th>
                <th>{{data.ProjCost}}</th>
                <th>{{data.Central_Share}}</th>
                <th>{{data.DwellingUnit}}</th>
  
                <th>{{data.Central_Share_Released_Projects}}</th>
                <th>{{data.Central_Share_Adjusted}}</th>
                <th>{{data.Excess_ACA_Released}}</th>
                <th>{{data.CentralShareRefundedbyStateGovt}}</th>
                <th>{{data.UC_Received}}</th>
                <th>{{data.Pending_UC}}</th>
                
                <th>{{data.Under_Progress}}</th>
                <th>{{data.Completed}}</th>
                
                <th>{{data.Allotted}}</th>
                <th>{{data.Occupied}}</th>
                <th>{{data.UnOccupied}}</th>
                <th>{{data.NonStarter}}</th>
                <th>{{data.Grounded}}</th>
  
                <th>{{data.Completed1}}</th>
                <th>{{data.Occupied1}}</th>
                <th>{{data.Division}}</th>
                <td><input type="button" class="btn btn-primary" (click)="Update(data)" value="Update">&nbsp;&nbsp;
                 </td>
            <td>
                <input type="button" class="btn btn-danger" (click)="Delete(data)" value="Delete">
            </td>
                  </tr>
            <tr>
                <td colspan="4">
                    <ul class="pagination">  
                            <pagination-controls (pageChange)="p=$event"></pagination-controls>  
                    </ul>  
                </td>
           </tr>
        </tbody>
  </table>
  </div>
  </div>
    
    
    