<div class="Test Div" [ngStyle]=""> 
  
    <section>
    <div>
       <!-- <h1>{{backgroundColor}}</h1> -->
        <div class="row">
            <div class="col-md-4 col-sm-6 col-xs-12">
              <!-- <div style="float:left;">State :</div> -->
              <div style="float:left;font-family: Arial, Geneva, Tahoma, sans-serif;font-size: 18px;padding-top: 5px">State :</div> 
              <div style="background-color:white;border: black">
                  <select class="form-control" placeholder="Choose State" (change)="getStateDetails($event.target.value)"
                  style="width: 200px;font-display: black;color: black;;border-color: black;font-family: Arial, Geneva, Tahoma, sans-serif">
                    <option value={{stValue}}>{{StateMessage}}</option>
                    <option *ngFor='let sntry of service.StateDetails1' [value]='sntry.Codes'>
                      {{sntry.States_UT}}
                    </option>
                  </select></div>
           </div>
    
           <div class="col-md-4 col-sm-6 col-xs-12">
                   <!-- <div style="float:left;"> District :</div>  -->
                   <div style="float:left;font-family: Arial, Geneva, Tahoma, sans-serif;font-size: 18px;padding-top: 5px">District :</div> 
             <div style="border: white"><select class="form-control" placeholder="" (change)="getDistrictDetails($event.target.value)"
              style="width: 200px;font-display: black;color: black;;border-color: black;font-family: Arial, Geneva, Tahoma, sans-serif">
             <option value={{distValue}}>{{DistrictMessage}}</option>
             <option *ngFor='let sntry of service.DisttDetails' [value]='sntry.Dcode'>
               {{sntry.District}}
             </option>
           </select></div>
           </div>
           <div class="col-md-4 col-sm-6 col-xs-12">
                 <!-- <div style="float:left;">City :</div>  -->
                 <div style="float:left;font-family: Arial, Geneva, Tahoma, sans-serif;font-size: 18px;padding-top: 5px">City :</div> 
                 <div style="color:arial-narrow;border: white"> 
                  <select class="form-control" placeholder="Choose City" (change)="getCityDetails($event.target.value)"
                  style="width: 200px;font-display: black;color: black;;border-color: black;font-family: Arial, Geneva, Tahoma, sans-serif">
                     <option value={{cityValue}}>{{CityMessage}}</option>
                     <option *ngFor='let sntry of service.CityDetails' [value]='sntry.CityCode'>
                       {{sntry.City}}
                     </option>
                   </select>
                  </div>
                      
                                    
              </div>
              
              <div>
                  <div class="col-md-4 col-sm-6 col-xs-12" style="padding-right:0px">
                      <!-- <button type="button" (click)="ResetPage()" class="btn btn-lg btn-info">Reset</button> -->
                  </div>
                  <!-- <div style="width: 300px;border: black;display:none" background-color="black" ><font color="blue">
                      <label class="form-control col-md-8"   *ngFor="let chkValue of lstHFACodes;let i=index" style="color:#FFFF00;background-color:black;width: 102px;transform-style: preserve-3d;display:inline-block;border: black;font-family: Arial, Helvetica, sans-serif">
                        <input type="checkbox" [disabled]="DisabledCheckBox" value="{{chkValue.HFAid}}" (change)="sendHFA_Codes(chkValue.Name,$event.target.checked)" width=5px ><b>{{chkValue.Name}}</b>
                      </label></font>
                  </div> -->
                  <div style="width: 300px;border: black;display:none" background-color="black" ><font color="blue">
                      <label class="form-control col-md-8"   *ngFor="let chkValue of lstHFACodes;let i=index" style="color:#FFFF00;background-color:black;width: 102px;transform-style: preserve-3d;display:inline-block;border: black;font-family: Arial, Helvetica, sans-serif">
                        <input type="checkbox" [disabled]="DisabledCheckBox" value="{{chkValue.HFAid}}" (change)="sendHFA_Codes(chkValue.Name,$event.target.checked)" width=5px ><b>{{chkValue.Name}}</b>
                      </label></font>
                  </div>
                  <br>

          
                  <br/> <br/>
                   <!-- <font style="color: white">Component</font>
                    <div class="border_white"  style="width: 300px;border: black" background-color="black;border-color:black" ><font color="blue">
                      <label class="form-control col-md-8"   *ngFor="let chkValue of lstComp;let i=index" style="color:green;background-color:black;width: 102px;transform-style: preserve-3d;display:inline-block;border: black">
                        <input type="checkbox" value="{{chkValue.Cid}}" (change)="sendComp(chkValue.Cid,$event.target.checked)" width=5px ><b>{{chkValue.Cname}}</b>
                      </label></font>
                    </div> -->
                    <div class="info-box-inline" style="padding-left:  640px">
                        <span class="info-box-header" style="font-size: 18px;font-family: Arial, Helvetica, sans-serif"><b>Component</b></span>
                        <ng-container *ngFor="let chkValue of lstComp;let i=index">
                            <div class="form-check form-check-inline" style="font-size: 16px;font-family: Arial, Helvetica, sans-serif">
                                <input class="form-check-input" type="checkbox" value="{{chkValue.Cid}}"
                                (change)="sendComp(chkValue.Cid,$event.target.checked)"/>
                                <label class="form-check-label" for="inlineCheckbox1">{{chkValue.Cname}}</label>
                              </div>
                        </ng-container>
                        <button type="button" (click)="ResetPage()" class="btn btn-md btn-info">Reset</button>
                        <!-- <div style="float: right; width: 400px;height: 20px;padding-left: 150px" >
                            <app-color-picker [color]="backgroundColor"  style="width: 300px;background-color: white;color: white" [heading]="'Background'"
                            (event)="setColor('background', $event)"></app-color-picker>
                        </div> -->
                      </div>
                </div> 
         </div>
     </div>


 
<div class="row"  >
    <!-- <div class="col-md-6 row fix-row border" [ngStyle]="{background: backgroundColor}"> -->
  <div class="col-md-12 background" [ngStyle]="">
<table>
  <tr>
    <td>
        <div class="row">

            <!-- ------> 
         <div class="col-md-6 row fix-row border dynamicColor" style="margin-left:-10px">
          
          <div class="col-md-6" style="padding:10px">
            <!-- <br> -->
            <font size=3px style="font-family:'Open Sans',Arial Narrow;">
             <p style="text-align: center"> Investments <br/>₹ {{Total_CostNw}} cr</p></font>
            <div id="chartContainer1" style="height: 170px; width: 330px;"></div>
          </div>
          <div class="col-md-6" style="padding-top:0px;border-left: 20px">
            <!-- <br> -->
            <!-- <b>Houses Approved v/s Demand {{total_Demand1_}} </b> -->
              
            <font size=3px style="font-family:'Open Sans',Arial Narrow;">
                <p style="text-align: center"><br/>{{ZeroDemand}}</p></font>
                <!-- <div style="text-align: center" style="font-size:16px;font-family:'Open Sans',Arial Narrow;" [innerHtml]="ZeroDemand"></div> -->
            <!--.toFixed(2-->
            <div id="DemandContainer" style="height: 145px; width: 150px;padding-left:15px"></div>
          </div>

        </div>
          
<!-- ------>


<!-- <span class="border border-primary"> -->

          <div class="col-md-6 fix-row border dynamicColor" >
            <div class="row">
              <marquee direction="right" behavior="alternate" scrolldelay="300"> <b>
                  <font style="color: #f01c31;border-left: 180px;font-size:17px">F I N A N C I A L - P R O G R
                    E
                    S S</font>
                </b></marquee>
            </div>
            <div class="row" style="padding-left: 0px">
              <div class="col-md-4" >
                <font size=3px style="font-family:'Open Sans',Arial Narrow;">
                    <p style="text-align: left">Sanction/Commitment <br/>  ₹ {{CA_ApprovdNew}} cr </p></font>
                <div id="sancforRel" style="height: 150px; width: 150px;"></div>
              </div>
              <div class="col-md-4" >
                  <font size=3px style="font-family:'Open Sans',Arial Narrow;">
                      <p style="text-align: center">Disbursed/Sanctions <br/> ₹ {{this.CASanct_forReleaseN_Change}} cr</p></font>
                <div id="caReleased" style="height: 150px; width: 160px;"></div>
              </div>
              <div class="col-md-4" style="padding-left: 0px">
                <!-- <div>.</div>    -->
                <font size=3px style="font-family:'Open Sans',Arial Narrow;">
                    <p style="text-align: center">Utilized/Disbursed <br/>₹ {{CA_ReleasedNw}} cr </p></font>
                <div id="CAApprovedContainer" style="height: 160px; width: 150px;align-content: right"></div>
              </div>
            </div>
          </div>
        <!-- </span> -->
        </div>

</td>
</tr>
<tr>
    <td>
  
        <div class="row">
                        
          <div class="col-md-6 row fix-row border dynamicColor" style="margin-left:0px">
               <div class="row">
                   <marquee direction="right" behavior="alternate" scrolldelay="300"> <b>
                       <font style="color: #f01c31;border-left: 1S0px;font-size:17px"> C L S S</font>
                     </b></marquee>
                 </div>
             <div class="col-md-3" style="padding:15px;margin-left:0px" id="clss1">
                 <font size=3px style="font-family:'Open Sans',Arial Narrow;">
                     <p style="text-align: center;margin-left:25px">
                   Subsidy</p></font>
                 <div id="clssSubsi" style="height: 180px; width: 300px;"></div>
            </div>
               
             <div class="col-md-3" style="padding:10px;margin-left:100px">
                 <div class="col-md-7">
                     <font size=3px style="font-family:'Open Sans',Arial Narrow;">
                         <p style="text-align: center;margin-left:35px">
                       Beneficiaries</p></font>
                     <div id="clssBene" style="height: 180px; width: 200px;"></div>
                   </div>
             </div>
          </div>
           
           <div class="col-md-6 fix-row border dynamicColor" style="padding: 12px" >
             <!-- <div class="col-md-6" > -->
               <div class="row">
                 <marquee direction="right" behavior="alternate" scrolldelay="300"> <b>
                     <font style="color: #f01c31;border-left: 180px;font-size:17px">P H Y S I C A L - P R O G R E S S
                       </font>
                   </b></marquee>
               </div>
                 <div class="row" style="padding-left: 0px">
                 <div class="col-md-4" style="padding-left:0px">
                     <font size=3px style="font-family:'Open Sans',Arial Narrow;">
                         <p style="text-align: center">
                       Grounded/Sanctioned<br/>  {{Sanction_Total_New4}}</p></font>

                     <div id="groundedContainer"
                     style="height: 150px; width: 150px;"></div>
                 </div>

                 <div class="col-md-4" style="padding-left: 0px">
                     <font size=3px style="font-family:'Open Sans',Arial Narrow;">
                         <p style="text-align: center">
                       Completed/Grounded <br/>{{Ground_TotalNew}}</p> </font>
                     <div id="CompletedContainer" style="height: 150px; width: 160px;"></div>
                 </div>

                 <div class="col-md-4" style="margin-right:-100px;">
                       <font size=3px style="font-family:'Open Sans',Arial Narrow;">
                           <p style="text-align: center">
                         Occupied/Completed <br/>{{GTCompletedNew_}}</p> </font>
                       <div id="OccupiedContainer" style="height: 160px; width: 150px;align-content: right"></div>
                 </div>
               </div>
                
            
                 
               <!-- </div> -->
             </div>


           </div>

</td>
</tr>
  <tr>
      <td>
  <div class="row">



    <!-- </div>  -->
     <!-- <div class="col-md-6">
          
        <div id="YtWiseHouses" style="height: 200px; width: 500px;"></div>
    </div>

    <div class="col-md-6">
        <div id="chartContainer2" style="height: 200px; width: 500px;"></div>
    </div> -->
  </div>
</td>
</tr>
</table>
<!-- <br> <br>  <br> <br>  <br> <br>  <br> <br>  <br> <br>  <br> <br>   -->
 
<div id=topHeader>
    <!-- <font style="color: black;border-left: 180px;font-size:22px ; ">सबका सपना, घर हो अपना</font> -->
</div>
</div>
</div> 

<div class="modal" tabindex="-1" role="dialog"  [ngStyle]="{'display':display}">
    <!-- modal-dialog -->
    <div class="modal-dialog" role="document">
      <!-- modal-content -->
      <div class="modal-content" style="width: 1200px;height: 600px;">
        <!-- modal-header -->
        <div class="modal-header">
          <button type="button" class="close" aria-label="Close" (click)="closeModalDialog()">
            <span aria-hidden="true">&times;</span></button>
          <!-- <h4 class="modal-title">Login</h4> -->
        </div>

        <!-- modal-body -->
        <div class="modal-body">
        
          <!-- <div ng-if="page ==='first'" style="height:500px;overflow: auto">
        
         
        
          </div> -->
     
        <!-- <div  ng-if="page ==='second'" style="height:500px;overflow: auto">
          
        </div> -->
        <div *ngIf="isDone" style="height:500px;overflow: auto">
            <!-- <app-ata-glance-hfa1></app-ata-glance-hfa1> -->
          </div>
          <!-- Negation operator-->
          <div *ngIf="!isDone" style="height:500px;overflow: auto">
              <!-- <app-state-score></app-state-score> -->
              <!-- <app-state-score-div-statewise></app-state-score-div-statewise> -->
          </div>
        </div>

        <!-- modal-footer -->
        <div class="modal-footer"> 
          <button type="button" class="btn btn-default" (click)="closeModalDialog()" >Close</button>
        </div>
      </div>
    </div>
  </div>

  
  <div class="modal" tabindex="-1" role="dialog"  [ngStyle]="{'display':display1}" style="padding-left: 500px">
      <!-- modal-dialog -->
      <div class="modal-dialog" role="document">
        <!-- modal-content -->
        <div class="modal-content">
          <!-- modal-header -->
          <div class="modal-header">
            <button type="button" class="close" aria-label="Close" (click)="closeModalDialog1()"><span aria-hidden="true">&times;</span></button>
            <!-- <h4 class="modal-title">Login</h4> -->
          </div>
    
          <!-- modal-body -->
          <div class="modal-body">
              <img src="./assets/img/pmay_logo-2.png" width="150px"/>  
            <div class="main-div">
    
                  <!-- <img src="./assets/img/pmay_logo-2.png" alt="Image" style="width:100%;height: 90%;opacity: 0.2"> -->
                  <div class="content-div">
                      
                    <div class="col-md-4">
                          <label>Select State:</label>
                      </div>
                                  <div class="col-md-5">
                                          <div>
                                            <!-- {{Codes}} -->
                                            <select class="form-control" placeholder="Choose State" [(ngModel)]="State"
                                            style="width: 300px;" (change)="getStateDetails1($event)">
                                              <option [selected]="true" [ngValue]="State">{{State}}</option>
                                              <option *ngFor='let sntry of service.StateDetails1' [value]='sntry.Codes'>
                                                {{sntry.States_UT}}
                                              </option>
                                            </select>
                                          </div>
                            </div>
                            <div class="row"  style="padding:25px;">
                                  <div class="col-md-1">
                                          <button class="Downloadbtn" (click)="GoNext()" width="6px" ><i class="fa fa-envelope"></i>Show Report2</button>
                                        </div>
                            </div>
                   
                  </div>
              </div>
                
    
    
          <!-- modal-footer -->
          <div class="modal-footer">
            <!-- <button type="button" class="btn btn-default" (click)="closeModalDialog()" >Close1</button> -->
          </div>
        </div>
      </div>
    </div>
  </div>  

   </section>
  </div>


  <!-- <app-dynamic-comp></app-dynamic-comp> -->
