<!-- <app-register></app-register>
  -->
<!-- 
<app-app-admin-layout></app-app-admin-layout> -->
<router-outlet></router-outlet>
<ng-snotify></ng-snotify>

<!-- <app-home-page></app-home-page> -->
<!-- <app-state-master></app-state-master> -->


<!-- <app-user-dashboard></app-user-dashboard> -->


<!-- <app-login></app-login>  -->
<!-- <app-master></app-master> -->

<!-- <app-landing-page></app-landing-page> -->
<!-- <app-dashboard-main></app-dashboard-main> -->
<!-- <app-statescore></app-statescore> -->