

.table-progress>thead>tr>th{background-color: #000;color: #fff;}
/* .table-custom>thead>tr>th{background-color: #d9d9d9;font-weight: normal} */
.table-custom>thead>tr>th{background-color: #d9d9d9;} 

table.table-custom,.table-custom th,.table-custom td { border: 2px solid #808080!important;font-size: 8px;font-weight: normal}
table.table-progress,.table-progress th,.table-progress td { border: 1px solid #808080!important;}  
#mytable {
    background-color: white;
  }
  
  #filter{
    background: #eee;
    padding: 10px 0;
  }
  
  .Downloadbtn{
    font-size: 14px !important;
    border-radius: 4px;
  }

.table1 td, .table th {
      /* padding: .85rem;   */
    vertical-align: top;
    border-top: 1px solid #dee2e6;
    font-family: "Segoe UI",Arial,sans-serif;
    font-size: 14px;
    border: 1px solid black;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Segoe UI",Arial,sans-serif;
    font-weight: 400;
    margin: 4px 0;
}

.header_Table
{
    font-size: 15px;
    font-family:Arial, Helvetica, sans-serif;  
    /* font-display: bold;  */
    align-content: center; 
    border: 1px;
}

.DataFont_Table
{
    font-size: 50px;
    font-family:Arial, Helvetica, sans-serif;  
}

.tdalign {
    margin: 12px 5 1 5;
}

  
h1{padding: 0;font-size: 20px;}
h2{font-weight: normal;font-size: 14px;}
hr{margin-top: 5px;margin-bottom: 5px;border: 2px solid #000;}
.table-score{border-style: double;border-left: none;border-right: none}
.table-score th{border: none!important;font-weight: normal;font-size:25px;}
.table-score td{border: none!important;font-weight: normal;font-size:14px;} 



a{
    cursor: pointer;
}

#tblPdf{
    font-size: 8px;
    font-family:Arial, Helvetica, sans-serif;
}


   .StateScore_CSMC {
    background-color: #FFF;
    color: #777;
    font-family: "Arial,Open Sans", sans-serif;
    font-size: 14px;
    line-height: 22px;
    
    
    /* margin: 0; */
}

.fifteen{
    font-family: "Arial,Open Sans", sans-serif;
    /* font-size: 12px; */
    font-size: 12px;
    border: 1px solid #d4c9c9;
    max-width: 100%;
    margin-left: 0px;
}
table{
    width: 100%;
    background-color: initial;
}    
table, th, td {
   font-family: "Open Sans", Arial, sans-serif;
   font-size: 12px;
   border: 1px solid #000;
   border-bottom-color: #000 !important;
   max-width: 100%;
   padding :3px 4px;
   text-align: center;
   -webkit-print-color-adjust: exact; 
     /* border: 1px solid black;  */
 }
 table tr{
    -webkit-print-color-adjust: exact; 
 }

 .headerStateName{
    font-family:"Arial","Franklin Gothic Medium", Arial, sans-serif;
    align-self: auto;
    font-size: 19px;
}

 .header{
     font-family:"Arial","Franklin Gothic Medium", Arial, sans-serif;
     align-self: auto;
     font-size: 20px;
 }
 .headerC{
    font-family:"Arial","Franklin Gothic Medium", Arial, sans-serif;
    align-self: auto;
    font-size: 14px;
}
 

   @media print {
    #drpdown{display : none};
    tr:nth-child(even) td,  tr:nth-child(odd) td{
        /* background-color: red !important; */
        -webkit-print-color-adjust: exact; 
      }
    tr.PMYHeading{
        background-color: #000 !important;
        -webkit-print-color-adjust: exact; 
    }
    
    tr.printHeader{
        background-color: #cccc !important;
        -webkit-print-color-adjust: exact; 
    }
    tr.PMYHeading td, tr.PMYHeading td b{
        color: #fff !important;
    }

    table, td, th {border: 1px solid black; }
    #statescore { padding-left :0px; padding-top :5px}

    .noprint { display: none; }
      /* .page-break { display: block; page-break-before: '#fifteen'; } */
   }
   .modal-dialog{
    width: 100% !important;
    height: 620px;
}

   .modal-content{
       width: 90%;
       max-width: 1360px;
       height: 620px;
       margin: 30px auto !important; 
   }
   .modal-body{
       padding-top: 0px !important;
   }
     
   

