
  <div class="container" style=" width: 1337px;" [ngStyle]="{background: backgroundColor}">
    <div class="w3-card-4">
      <h3
        style="margin-left: -46px;font-family: Arial, Geneva, Tahoma, sans-serif;background-color: cadetblue;color:white;font-weight: bold; height: 69px;margin-top: -30px;padding-top: 20px; padding-left: 32px">
        Create Component-Master </h3>
    </div>
    <br>
    <div class="form-container">
      <form [formGroup]="componentMaster" (ngSubmit)="onClickComponentMaster($event, componentMaster)">       
          <div class="w3-row">
              <div class="w3-quarter w3-left" style="width: 10%;">
                  <label style="font-family: Arial, Geneva, Tahoma, sans-serif;">
                      Short Name Of Major Scheme :
                    </label>
              </div>
              <div class="w3-quarter w3-left" style="width: 22%;">
                  <select [formControl]="ddlMajorScheme" [(ngModel)]="Scheme" class="w3-input w3-border" style="font-family: Arial, Geneva, Tahoma, sans-serif;"
                  (change)="adminSandbox.getSchemeComponentData(ddlMajorScheme.value);">
                    <option value="" disabled>Select Scheme--</option>
                    <option *ngFor="let scheme of adminSandbox.schemeMaster" [value]="scheme.SchemeShortName">
                      {{scheme.SchemeShortName}}</option>
                  </select>
                  <label *ngIf="submitted && ddlMajorScheme.hasError('required')" class="error-label"
                    style="color: red;font-family: Arial, Geneva, Tahoma, sans-serif;">Please select short name of major scheme.</label>
              </div>
             
              <div class="w3-quarter w3-center" style="width: 10%;">
                  <label style="font-family: Arial, Geneva, Tahoma, sans-serif;">
                      Scheme Components Short Name :
                    </label>
              </div>
              <div class="w3-quarter w3-left" style="width: 22%;">
                  <input type="text" class="w3-input w3-border" [formControl]="txtSchemeComponentShortName"
                  placeholder="Scheme Components Short Name" style="font-family: Arial, Geneva, Tahoma, sans-serif;">
                <label *ngIf="submitted && txtSchemeComponentShortName.hasError('required')" class="error-label"
                  style="color: red;font-family: Arial, Geneva, Tahoma, sans-serif;">Please enter
                  major scheme components short name. </label>
              </div>
              <div class="w3-quarter w3-center" style="width: 10%;">
                  <label style="font-family: Arial, Geneva, Tahoma, sans-serif;">
                      Name Of Scheme Components :
                    </label>
              </div>
              <div class="w3-quarter w3-left" style="width: 22%;">
                  <input type="text" class="w3-input w3-border" [formControl]="txtSchemeComponentName"
                  placeholder="Name Of Scheme Components" style="font-family: Arial, Geneva, Tahoma, sans-serif;">
                <label *ngIf="submitted && txtSchemeComponentName.hasError('required')" class="error-label"
                  style="color: red;font-family: Arial, Geneva, Tahoma, sans-serif;">Please enter name of scheme components.</label>
              </div>
            </div>

        <br>
        <div style="text-align: center">
          <button type="submit" style="font-family: Arial, Geneva, Tahoma, sans-serif;" class="w3-btn w3-orange w3-round w3-ripple">Submit</button>
        </div>
        <br>
      </form>
      <table class="table" border="1px"    style="width: 89%;" align="center" *ngIf="adminSandbox.schemeComponentMaster.length>0">
        <thead style="background-color: lightgray; font-weight: bold">
          <tr>
            <td style="text-align: right; width: 20px;font-family: Arial, Geneva, Tahoma, sans-serif;">S.No</td>
            <td style="text-align: left;font-family: Arial, Geneva, Tahoma, sans-serif;">Short Name Of Major Scheme</td>
            <td style="text-align: left;font-family: Arial, Geneva, Tahoma, sans-serif;">Scheme Components Short Name</td>
            <td style="text-align: left;font-family: Arial, Geneva, Tahoma, sans-serif;">Name Of Scheme Components</td>
            <td style="text-align: left;font-family: Arial, Geneva, Tahoma, sans-serif;">Action</td>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let schemeComponent of adminSandbox.schemeComponentMaster;let i = index"
            style="text-align: center;background-color:white">
            <td style="text-align: right;border-top: 1px solid black;">{{i+1}}</td>
            <td style="text-align: left;font-family: Arial, Geneva, Tahoma, sans-serif;border-top: 1px solid black;">{{schemeComponent.SchemeShortName}}</td>
            <td style="text-align: left;font-family: Arial, Geneva, Tahoma, sans-serif;border-top: 1px solid black;">{{schemeComponent.Cname}}</td>
            <td style="text-align: left;font-family: Arial, Geneva, Tahoma, sans-serif;border-top: 1px solid black;">{{schemeComponent.SchemeComponentName}}</td>

            <td style="text-align: left;font-family: Arial, Geneva, Tahoma, sans-serif;border-top: 1px solid black;">
              <button (click)="adminSandbox.editSchemeComponentMaster('block',schemeComponent)" type="submit"
                class="w3-btn w3-green w3-round w3-ripple">Edit</button>
              &nbsp;
              <button (click)="adminSandbox.deleteSchemeComponentData(schemeComponent.Cid)" type="submit"
                class="w3-btn w3-red w3-round w3-ripple">Delete</button>
            </td>
          </tr>
        </tbody>
        <tfoot *ngIf="adminSandbox.schemeComponentMaster.length==0">
          <tr>
            <td colspan="5">
              <a style="font-family: Arial, Geneva, Tahoma, sans-serif;">No Records Found</a>
            </td>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>

<div [style.display]="adminSandbox.showProperty" class="w3-modal w3-animate-opacity">
  <div class="w3-modal-content w3-card-4">
    <header class="w3-container w3-teal">
      <span (click)="adminSandbox.editSchemeComponentMaster('none','')"
        class="w3-button w3-large w3-display-topright">&times;</span>
      <h2 style="padding-left: 17px;font-family: Arial, Geneva, Tahoma, sans-serif;">Update Component-Master</h2>
    </header>
    <br>
    <div class="w3-container">
      <form>
        <div class="w3-row">
          <div class="w3-quarter w3-left">
            <label style="font-family: Arial, Geneva, Tahoma, sans-serif;padding-top: 8px;">
              Short Name Of Major Scheme :
            </label>
          </div>
          <div class="w3-quarter w3-left">
            <select name="ddlMajorScheme" class="w3-input w3-border" style="font-family: Arial, Geneva, Tahoma, sans-serif;"
              [(ngModel)]="adminSandbox.EditSchemeComponentMaster.ddlMajorScheme">
              <option value="" selected="selected">Select Scheme--</option>
              <option *ngFor="let scheme of adminSandbox.schemeMaster" [value]="scheme.SchemeShortName">
                {{scheme.SchemeShortName}}</option>
            </select>
          </div>
          <div class="w3-quarter w3-center">
            <label style="font-family: Arial, Geneva, Tahoma, sans-serif;">
              Scheme Components Short Name :
            </label>
          </div>
          <div class="w3-quarter w3-left">
            <input type="text" class="w3-input w3-border" style="font-family: Arial, Geneva, Tahoma, sans-serif;"
              [(ngModel)]="adminSandbox.EditSchemeComponentMaster.txtSchemeComponentShortName"
              name="txtSchemeComponentShortName" placeholder="Scheme Components Short Name">
          </div>
        </div>
        <div>
          <input type="hidden" name="hiddendTxtSchemeComponentID"
            [(ngModel)]="adminSandbox.EditSchemeComponentMaster.hiddendTxtSchemeComponentID" />
        </div>
        <br>
        <div class="w3-row">
          <div class="w3-quarter w3-left">
            <label style="font-family: Arial, Geneva, Tahoma, sans-serif;padding-top: 8px;">
              Name Of Scheme Components :
            </label>
          </div>
          <div class="w3-threequarter w3-left">
            <input type="text" class="w3-input w3-border" style="font-family: Arial, Geneva, Tahoma, sans-serif;"
              [(ngModel)]="adminSandbox.EditSchemeComponentMaster.txtSchemeComponentName" name="txtSchemeComponentName"
              placeholder="Name Of Scheme Components" style="width: 24.5%;">
          </div>

        </div>
        <br>
        <div style="text-align: center">
          <button type="submit" class="w3-btn w3-orange w3-round w3-ripple" style="font-family: Arial, Geneva, Tahoma, sans-serif;"
            (click)="adminSandbox.updateSchemeComponentMaster()">Submit</button>
        </div>
        <br>
      </form>
    </div>
    <footer class="w3-container w3-teal">
    </footer>
  </div>
</div>