<br>

<div class="container">
<div class="row">
  <div class="col-md-3 col-sm-3">
    <select class="form-control"   placeholder="Select Role" (change)="getInst_Details($event.target.value)"
    style="width: 200px;font-display: #FF00FF;color:maroon;border: black;font-family: Arial, Helvetica, sans-serif">
     <option value="Admin">Select Installment</option>
     <option value="1">1</option>
     <option value="2">2</option>
     <option value="3">3</option>
   </select>
    
</div>
  <div class="col-md-3 col-sm-3">
    <select class="form-control" placeholder="Choose State" (change)="getStateDetails($event.target.value)"
    style="width: 200px;font-display: #FF00FF;color: black">
    <option value={{stValue}}>{{StateMessage}}</option>
    <option *ngFor='let sntry of service.StateDetails' [value]='sntry.Codes'>
      {{sntry.States_UT}}
    </option>
  </select>
  </div>
    <div class="col-md-2 col-sm-2">
      <div class="col-md-3">
        <select class="form-control" placeholder="Select Role"  (change)="getCompDetails($event.target.value)"
        style="width: 200px;font-display: #FF00FF;color:maroon;border: black;font-family: Arial, Helvetica, sans-serif">
         <option value="Admin">Select Component</option>
         <option value="Admin">AHP</option>
         <option value="Admin">BLC</option>
         <option value="Admin">ISSR</option>
       </select>
    </div>
  </div>  
  <div class="col-md-4 col-sm-4">
      <div class="col-sm-6" ><label><b>Select Option:</b></label></div>
      <div class="col-sm-6" >  <fieldset id="horizontal"  class="horizontal">
        <input type="radio"  (change)="getEVRDetails($event.target.value)"  name="EBR" value="Budget">Budget 
        <input type="radio"   (change)="getEVRDetails($event.target.value)"   name="EBR" value="EBR"> EBR 
    </fieldset></div>
  </div>
  
 </div>  
</div> 
<br>
<div class="row">
  
  <fieldset class="horizontal">
    Release :
    <div *ngFor="let rd of radioButtonSet">
      <div class="col-md-1">
        <label for="{{rd}}">{{rd}}</label>&nbsp;&nbsp;
        <input (change)="getRELDetails($event.target.value)"   id="{{rd}}" type="radio">
      </div>
    </div>
    <br><br>
    Installment :  
    <div *ngFor="let Id of radioButtonInst">
      <div class="col-md-1">
        <label for="{{Id}}">{{Id}}</label>&nbsp;&nbsp;
        <input (change)="get_InstDetails($event.target.value)"   id="{{Id}}" type="radio">
      </div>
    </div>
  </fieldset>
</div>



<div class="row"> 
  <div class="col-md-2" style="height: 50px;;border: 1px solid gray;">
    <div class="col-md-2">Senction No</div>
    <div class="col-md-2"><input type="checkbox"  
      value="SenctionNo"  (change)="sendSanctCodes($event)"></div>
  </div>
  
  <div class="col-md-2" style="height: 50px;;border: 1px solid gray;">
    <div class="col-md-2">Release Date</div>
    <div class="col-md-2"><input type="checkbox" value="ReleaseDate"  (change)="sendSanctCodes($event)"></div>
  </div>
  
  <div class="col-md-2"  style="height: 50px;;border: 1px solid gray;">
    <div class="col-md-2">HFA Amt</div>
    <div class="col-md-2"><input type="checkbox" value="HFAAmt"  (change)="sendSanctCodes($event)"></div>
  </div>
  <div class="col-md-2"  style="height: 50px;;border: 1px solid gray;">
    <div class="col-md-2">TSP Amount</div>
    <div class="col-md-2"><input type="checkbox" value="TSPAmount"  (change)="sendSanctCodes($event)"></div>
  </div>
  <div class="col-md-2"  style="height: 50px;;border: 1px solid gray;">
    <div class="col-md-2">SCSP Amount</div>
    <div class="col-md-2"><input type="checkbox" value="SCSPAmount"  (change)="sendSanctCodes($event)"></div>
  </div>
  
  <div class="col-md-2"  style="height: 50px;;border: 1px solid gray;">
    <div class="col-md-2">Project Code</div>
    <div class="col-md-2"><input type="checkbox" value="ProjectCode"  (change)="sendSanctCodes($event)"></div>
  </div>
  </div>
  
  <div class="container">
    <div class="col-md-2 col-sm-2">
      <input type="file" #fileInput (cahnge)="UploadFile()" />
      <button (click)="UploadAllData()" class="btn btn-primary">  Upload All Data </button><br>
      <span *ngIf="flag"> uploading<img src="assets/images/30.gif"/></span><br>      
    </div>

    <!-- <div class="col-md-2 col-sm-2">
      <input type="file" #fileInput (cahnge)="UploadFile()" />
      <button (click)="UploadAll_HFAData()" class="btn btn-primary">  Upload HFA-Head Data </button><br>
      <span *ngIf="flag"> uploading<img src="assets/images/30.gif"/></span><br>      
    </div>


    <div class="col-md-2 col-sm-2">
      <input type="file" #fileInput (cahnge)="UploadFile()" />
      <button (click)="UploadAll_SCSPData()" class="btn btn-primary">  Upload SCSP-Head Data </button><br>
      <span *ngIf="flag"> uploading<img src="assets/images/30.gif"/></span><br>      
    </div>    

    <div class="col-md-2 col-sm-2">
      <input type="file" #fileInput (cahnge)="UploadFile()" />
      <button (click)="UploadTSP_FundRel_Excel()" class="btn btn-primary">  Upload TSP-Head Data </button><br>
      <span *ngIf="flag"> uploading<img src="assets/images/30.gif"/></span><br>      
    </div>     -->


    <div class="col-md-3 col-sm-3">
      <button (click)="DeleteTablePHY()" class="btn btn-danger"> Delete Table Data</button>
    </div>
  </div>
  



