a.canvasjs-chart-credit {
  display: none !important;
  color: white;
  visibility: hidden;
}

.border{
  border:1px solid #ccc !important;
  border-radius: 6px;
  }

  .manageChild{
    padding-top:15px ;
  }

  @media (min-width: 768px) {
    .manageChild > div:first-child{
      padding-right: 7px ;
    }
    .manageChild > div:last-child{
      padding-left: 7px ;
    }
  }
  
  