<div class="container" style=" width: 1337px;" [ngStyle]="{background: backgroundColor}">
  <div class="w3-card-4">
    <h3
      style="margin-left: -46px;font-family: Arial, Geneva, Tahoma, sans-serif;background-color: cadetblue;color:white;font-weight: bold; height: 69px;margin-top: -30px;padding-top: 20px; padding-left: 32px">
      Project Brief Detail</h3>
  </div>
  <br>
  <div class="form-container">
    <form [formGroup]="projectBriefDetail" (ngSubmit)="onClickProjectBriefDetail($event, projectBriefDetail)">
      <div class="w3-row">
        <div class="w3-quarter w3-left" style="width: 10%;">
          <label style="font-family: Arial, Geneva, Tahoma, sans-serif;padding-top: 8px;">
            State Name:
          </label>
        </div>
        <div class="w3-quarter w3-left" style="width: 22%;">
          <select [formControl]="ddlStateCode" [(ngModel)]="State"
            style="font-family: Arial, Geneva, Tahoma, sans-serif;" (change)="getProjectBriefData($event);adminSandbox.getStateDistrictData($event.target.value);this.District='';this.City='';this.ProjectName='';
                          this.Scheme='';this.Components='';" class="w3-input w3-border">
            <option value="" disabled>Please select state--</option>
            <option *ngFor="let state of adminSandbox.stateMaster" [value]="state.Codes">
              {{state.States_UT}}</option>
          </select>
          <label *ngIf="submitted && ddlStateCode.hasError('required')" class="error-label"
            style="color: red;font-family: Arial, Geneva, Tahoma, sans-serif;">Please
            select state. </label>
        </div>

        <div class="w3-quarter w3-center" style="width: 10%;">
          <label style="font-family: Arial, Geneva, Tahoma, sans-serif;padding-top: 8px;">
            District Name:
          </label>
        </div>
        <div class="w3-quarter w3-left" style="width: 22%;">
          <select [formControl]="ddlDistrictCode" [(ngModel)]="District"
            style="font-family: Arial, Geneva, Tahoma, sans-serif;" (change)="PrjBriefDataonDistt($event);adminSandbox.getDistrictCityData($event.target.value);this.City='';this.ProjectName='';
            this.Scheme='';this.Components='';" class="w3-input w3-border">
            <option value="" disabled>Please select district--</option>
            <option *ngFor="let ditrict of adminSandbox.stateDistrictMaster" [value]="ditrict.Dcode">
              {{ditrict.District}}</option>
          </select>
          <label *ngIf="submitted && ddlDistrictCode.hasError('required')" class="error-label"
            style="color: red;font-family: Arial, Geneva, Tahoma, sans-serif;">Please
            select district. </label>
        </div>
        <div class="w3-quarter w3-center" style="width: 10%;">
          <label style="font-family: Arial, Geneva, Tahoma, sans-serif;padding-top: 8px;">
            City Name:
          </label>
        </div>
        <div class="w3-quarter w3-left" style="width: 22%;">
          <select [formControl]="ddlCity" [(ngModel)]="City" style="font-family: Arial, Geneva, Tahoma, sans-serif;"
            class="w3-input w3-border" (change)="PrjBriefDataonCity($event);">
            <option value="" disabled>Please select city--</option>
            <option *ngFor="let city of adminSandbox.districtCityMaster" [value]="city.CityCode">
              {{city.City}}</option>
          </select>
          <label *ngIf="submitted && ddlCity.hasError('required')" class="error-label"
            style="color: red;font-family: Arial, Geneva, Tahoma, sans-serif;">Please
            select city. </label>
        </div>
      </div>
      <br>
      <div class="w3-row">
        <div class="w3-quarter w3-left" style="width: 10%;">
          <label style="font-family: Arial, Geneva, Tahoma, sans-serif;padding-top: 8px;">
            Scheme :
          </label>
        </div>
        <div class="w3-quarter w3-left" style="width: 22%;">
          <select [formControl]="ddlScheme" class="w3-input w3-border" [(ngModel)]="Scheme"
            style="font-family: Arial, Geneva, Tahoma, sans-serif;" (change)="adminSandbox.getProjectSchemeComponentData($event.target.value);this.ProjectName='';
         this.Components=''; ">
            <option value="" disabled>Please select Scheme--</option>
            <option *ngFor="let scheme of adminSandbox.schemeMaster" [value]="scheme.SchemeShortName">
              {{scheme.SchemeShortName}}</option>
          </select>
          <label *ngIf="submitted && ddlScheme.hasError('required')" class="error-label"
            style="color: red;font-family: Arial, Geneva, Tahoma, sans-serif;">Please
            select scheme. </label>
        </div>
        <div>
          <div class="w3-quarter w3-center" style="width: 10%;">
            <label style="font-family: Arial, Geneva, Tahoma, sans-serif;padding-top: 8px;">
              Component :
            </label>
          </div>
          <div class="w3-quarter w3-left" style="width: 22%;">
            <select [formControl]="ddlComponent" [(ngModel)]="Components" class="w3-input w3-border" (change)="adminSandbox.getProjectBriefName(ddlStateCode.value,ddlDistrictCode.value,ddlCity.value,ddlScheme.value,$event.target.value);
            this.ProjectName='';" style="font-family: Arial, Geneva, Tahoma, sans-serif;">
              <option value="" disabled>Please select Components--</option>
              <option *ngFor="let schemeComp of adminSandbox.schComponentMaster" [value]="schemeComp.Cname">
                {{schemeComp.Cname}}</option>
            </select>
            <label *ngIf="submitted && ddlComponent.hasError('required')" class="error-label"
              style="color: red;font-family: Arial, Geneva, Tahoma, sans-serif;">Please
              select components. </label>
          </div>
        </div>


        <div class="w3-quarter w3-left" style="width: 10%;">
          <label  style="font-family: Arial, Geneva, Tahoma, sans-serif;padding-top: 8px;">
              CSMC Date:
          </label>
      </div>
      
      <div class="w3-quarter w3-left" style="width: 22%;">
          <input type="text" class="w3-input w3-border" [minDate]="maxStartDate" 
              [formControl]="txtCMCDate" bsDatepicker [bsConfig]="dpConfig" autocomplete="off"  
              onkeyup="return true"  placeholder="dd/mm/yyyy" bsValueChange="GetPrjBriefBasedonDate(txtCMCDate)">
          <label *ngIf="submitted && txtCMCDate.hasError('required')" class="error-label"
              style="color: red;font-family: Arial, Geneva, Tahoma, sans-serif;">Please
              select date. </label>
      </div>


      </div>
      <br>


      <div class="w3-row">
        <div class="w3-quarter w3-center" style="width: 10%;">
          <label style="font-family: Arial, Geneva, Tahoma, sans-serif;">
            Project Name:
          </label>
        </div>

        <div class="w3-quarter w3-left" style="width: 22%;">
          <select [formControl]="ddlProjectName" [(ngModel)]="ProjectName" class="w3-input w3-border"
            style="font-family: Arial, Geneva, Tahoma, sans-serif;">
            <option value="" disabled>Please select Project Name--</option>
            <option *ngFor="let projectNameBrief of adminSandbox.projectBriefName"
              [value]="projectNameBrief.ProjectCode">
              {{projectNameBrief.ProjectTitle}}</option>
          </select>
          <label *ngIf="submitted && ddlProjectName.hasError('required')" class="error-label"
            style="color: red;font-family: Arial, Geneva, Tahoma, sans-serif;">Please
            select project name. </label>
        </div>
        <div class="w3-quarter w3-left" style="width: 10%;">
          <label style="font-family: Arial, Geneva, Tahoma, sans-serif;padding-top: 8px;">
            State Level Nodal Agency :
          </label>
        </div>
        <div class="w3-quarter w3-left" style="width: 22%;">
          <input type="text" class="w3-input w3-border" [formControl]="txtNodalAgency"  [(ngModel)]="NodalAgency"
            placeholder=" State Level Nodal Agency" style="font-family: Arial, Geneva, Tahoma, sans-serif;">
          <label *ngIf="submitted && txtNodalAgency.hasError('required')" class="error-label"
            style="color: red;font-family: Arial, Geneva, Tahoma, sans-serif;">Please
            enter lodal agency. </label>
        </div>

        <div class="w3-quarter w3-center" style="width: 10%;">
          <label style="font-family: Arial, Geneva, Tahoma, sans-serif;padding-top: 8px;">
            Implementing Agency :
          </label>
        </div>
        <div class="w3-quarter w3-left" style="width: 22%;">
          <input type="text" class="w3-input w3-border" [formControl]="txtImplementingAgency"
            placeholder=" Implementing Agency" style="font-family: Arial, Geneva, Tahoma, sans-serif;">
          <label *ngIf="submitted && txtImplementingAgency.hasError('required')" class="error-label"
            style="color: red;font-family: Arial, Geneva, Tahoma, sans-serif;">Please
            enter implementing agency. </label>

        </div>

      </div>

      <div class="w3-row">
        <div class="w3-quarter w3-center" style="width: 10%;">
          <label style="font-family: Arial, Geneva, Tahoma, sans-serif;">
            Approval Date by SLSMC :
          </label>
        </div>

        <div class="w3-quarter w3-left" style="width: 22%;">
          <input type="text" class="w3-input w3-border" [minDate]="maxStartDate" [formControl]="txtSLSMC" bsDatepicker
            [bsConfig]="dpConfig" autocomplete="off" onkeydown="return false" placeholder="dd/mm/yyyy">
          <label *ngIf="submitted && txtSLSMC.hasError('required')" class="error-label"
            style="color: red;font-family: Arial, Geneva, Tahoma, sans-serif;">Please
            select date of approval. </label>
        </div>
      </div>

      <br>
      <div class="w3-row">
        <div class="w3-quarter w3-left" style="width: 10%;">
          <label style="font-family: Arial, Geneva, Tahoma, sans-serif;padding-top: 8px;">
            Whether Slum :
          </label>
        </div>
        <div class="w3-quarter w3-left" style="width: 22%;">
          <input type="radio" name="radioSlum" value="Yes" [formControl]="radioSlum" (click)=showSlum() />
          <label style="font-family: Arial, Geneva, Tahoma, sans-serif;">Yes</label>&nbsp;&nbsp;&nbsp;&nbsp;
          <input type="radio" name="radioSlum" value="No" [formControl]="radioSlum" (click)=hideSlum() />
          <label style="font-family: Arial, Geneva, Tahoma, sans-serif;">No</label>&nbsp;&nbsp;&nbsp;&nbsp;
          <input type="radio" name="radioSlum" value="Both" [formControl]="radioSlum" (click)=hidebothSlum() />
          <label style="font-family: Arial, Geneva, Tahoma, sans-serif;">Both</label>
          <label *ngIf="submitted && radioSlum.hasError('required')" class="error-label"
            style="color: red;font-family: Arial, Geneva, Tahoma, sans-serif;">Please
            select slum. </label>
        </div>


      </div>
      <br>
      <div *ngIf="Slum">
        <form [formGroup]="ProjectSlum">
          <table style="width: 22%;" align="center">
            <tr style="text-align: center;background-color:white">
              <thead style=" font-weight: bold">
                <table formArrayName="itemRows">
                  <tr *ngFor="let itemrow of ProjectSlum.controls.itemRows['controls']; let i=index;"
                    [formGroupName]="i">
                    <div>
                      <th style="font-family: Arial, Geneva, Tahoma, sans-serif;">Name Of Slum
                        <table>
                          <tr>
                            <td style="text-align: left">
                              <input formControlName="SlumName" placeholder="Slum Name"
                                style="width: 200px;height: 34px;font-family: Arial, Geneva, Tahoma, sans-serif;"
                                type="text">
                            </td>
                          </tr>
                        </table>
                      </th>
                      <th style="font-family: Arial, Geneva, Tahoma, sans-serif;">Houses Covered
                        <table>
                          <tr>
                            <td style="text-align: left">
                              <input formControlName="SlumCovered" placeholder="Houses Covered" AllowOnlyNumber="true"
                                style="width: 200px;height: 34px;font-family: Arial, Geneva, Tahoma, sans-serif;"
                                type="text">
                              <input formControlName="ProjectCode" [(ngModel)]="ddlProjectName.value" hidden="true"
                                style="width: 110px;" type="text">
                            </td>
                          </tr>
                        </table>
                      </th>
                      <th>Add
                        <table>

                          <tr>
                            <button type="button" (click)="addNewReleaseRow()"
                              style="font-family: Arial, Geneva, Tahoma, sans-serif;"
                              class="w3-btn w3-green w3-round w3-ripple">Add</button>
                          </tr>
                        </table>
                      </th>
                    </div>
                  </tr>

                </table>
              </thead>
            </tr>
          </table>

        </form>
      </div>
      <!-- <br> -->

      <!-- <br> -->
      <div class="w3-row">
        <div class=" w3-quarter w3-left">
          <label style="font-family: Arial, Geneva, Tahoma, sans-serif;">
            Project Cost
          </label>
        </div>
      </div>
      <!-- <br> -->
      <table style="width: 58%;" align="center">
        <tr style="background-color:white">
          <thead style=" font-weight: bold">
            <table>
              <tr>
                <div>
                  <th style="font-family: Arial, Geneva, Tahoma, sans-serif;"> Housing Cost :
                    <table>
                      <tr>
                        <td style="text-align: left">
                          <input AllowOnlyDecimal="true" type="text" class="w3-input w3-border"
                            (blur)="onSubmitProjectSlum(ProjectSlum.value)" [formControl]="txtHousingCost"
                            placeholder=" Housing Cost" style="font-family: Arial, Geneva, Tahoma, sans-serif;">
                          <label *ngIf="submitted && txtHousingCost.hasError('required')" class="error-label"
                            style="color: red;font-family: Arial, Geneva, Tahoma, sans-serif;">Please
                            enter housing cost. </label>
                        </td>
                      </tr>
                    </table>
                  </th>
                  <th style="font-family: Arial, Geneva, Tahoma, sans-serif;"> Infrastructure Cost :
                    <table>
                      <tr>
                        <td style="text-align: left">
                          <input AllowOnlyDecimal="true" type="text" class="w3-input w3-border"
                            [formControl]="txtInfrastructure" placeholder="Infrastructure Cost"
                            style="font-family: Arial, Geneva, Tahoma, sans-serif;">

                          <label *ngIf="submitted && txtInfrastructure.hasError('required')" class="error-label"
                            style="color: red;font-family: Arial, Geneva, Tahoma, sans-serif;">Please
                            enter infrastructure cost. </label>
                        </td>
                      </tr>
                    </table>
                  </th>
                  <th style="font-family: Arial, Geneva, Tahoma, sans-serif;"> Other :
                    <table>
                      <tr>
                        <td style="text-align: left">
                          <input AllowOnlyDecimal="true" type="text" class="w3-input w3-border" [formControl]="txtOther"
                            placeholder="Other" style="font-family: Arial, Geneva, Tahoma, sans-serif;">
                          <label *ngIf="submitted && txtOther.hasError('required')" class="error-label"
                            style="color: red;font-family: Arial, Geneva, Tahoma, sans-serif;">Please enter
                            other cost. </label>
                        </td>
                      </tr>
                    </table>
                  </th>

                </div>
              </tr>

            </table>
          </thead>
        </tr>
      </table>

      <br>
      <div class="w3-row">
        <div class=" w3-quarter w3-left">
          <label style="font-family: Arial, Geneva, Tahoma, sans-serif;">
            No of EWS beneficiaries covered in the project
          </label>
        </div>
      </div>
      <br>
      <table style="width: 92%;" align="center">
        <tr style="background-color:white">
          <thead style=" font-weight: bold">
            <table>
              <tr>
                <div>

                  <th style="font-family: Arial, Geneva, Tahoma, sans-serif;"> General :
                    <table>
                      <tr>
                        <td style="text-align: left">
                          <input AllowOnlyDecimal="true" type="text" class="w3-input w3-border"
                            [formControl]="txtGeneral" placeholder="General"
                            style="font-family: Arial, Geneva, Tahoma, sans-serif;">
                          <label *ngIf="submitted && txtGeneral.hasError('required')" class="error-label"
                            style="color: red;font-family: Arial, Geneva, Tahoma, sans-serif;">Please
                            enter general. </label>
                        </td>
                      </tr>
                    </table>
                  </th>
                  <th style="font-family: Arial, Geneva, Tahoma, sans-serif;"> SC :
                    <table>
                      <tr>
                        <td style="text-align: left">
                          <input AllowOnlyDecimal="true" type="text" class="w3-input w3-border" [formControl]="txtSC"
                            placeholder="SC" style="font-family: Arial, Geneva, Tahoma, sans-serif;">
                          <label *ngIf="submitted && txtSC.hasError('required')" class="error-label"
                            style="color: red;font-family: Arial, Geneva, Tahoma, sans-serif;">Please
                            enter sc. </label>
                        </td>
                      </tr>
                    </table>
                  </th>
                  <th style="font-family: Arial, Geneva, Tahoma, sans-serif;"> ST :
                    <table>
                      <tr>
                        <td style="text-align: left">
                          <input AllowOnlyDecimal="true" type="text" class="w3-input w3-border" [formControl]="txtST"
                            placeholder="ST" style="font-family: Arial, Geneva, Tahoma, sans-serif;">
                          <label *ngIf="submitted && txtST.hasError('required')" class="error-label"
                            style="color: red;font-family: Arial, Geneva, Tahoma, sans-serif;">Please
                            enter st. </label>
                        </td>
                      </tr>
                    </table>
                  </th>
                  <th style="font-family: Arial, Geneva, Tahoma, sans-serif;"> OBC :
                    <table>
                      <tr>
                        <td style="text-align: left">
                          <input AllowOnlyDecimal="true" type="text" class="w3-input w3-border" [formControl]="txtOBC"
                            placeholder="OBC" style="font-family: Arial, Geneva, Tahoma, sans-serif;">
                          <label *ngIf="submitted && txtOBC.hasError('required')" class="error-label"
                            style="color: red;font-family: Arial, Geneva, Tahoma, sans-serif;">Please
                            enter obc. </label>
                        </td>
                      </tr>
                    </table>
                  </th>
                  <th style="font-family: Arial, Geneva, Tahoma, sans-serif;"> Others :
                    <table>
                      <tr>
                        <td style="text-align: left">
                          <input AllowOnlyDecimal="true" type="text" class="w3-input w3-border"
                            [formControl]="txtOthersEWS" placeholder="Others"
                            style="font-family: Arial, Geneva, Tahoma, sans-serif;">
                          <label *ngIf="submitted && txtOthersEWS.hasError('required')" class="error-label"
                            style="color: red;font-family: Arial, Geneva, Tahoma, sans-serif;">Please
                            enter other. </label>
                        </td>
                      </tr>
                    </table>
                  </th>
                  <th style="font-family: Arial, Geneva, Tahoma, sans-serif;"> Minority :
                    <table>
                      <tr>
                        <td style="text-align: left">
                          <input AllowOnlyDecimal="true" type="text" class="w3-input w3-border"
                            [formControl]="txtMinority" placeholder="Minority"
                            style="font-family: Arial, Geneva, Tahoma, sans-serif;">
                          <label *ngIf="submitted && txtMinority.hasError('required')" class="error-label"
                            style="color: red;font-family: Arial, Geneva, Tahoma, sans-serif;">Please
                            enter minority. </label>
                        </td>
                      </tr>
                    </table>
                  </th>
                </div>
              </tr>

            </table>
          </thead>
        </tr>
      </table>

      <br>
      <div class="w3-row">

      </div>
      <br>
      <div class="w3-row">
        <div class=" w3-quarter w3-left">
          <label style="font-family: Arial, Geneva, Tahoma, sans-serif;">
            No of Houses constructed/acquired,please specify ownership
          </label>
        </div>
      </div>
      <table style="width: 74%;" align="center">
        <tr style="background-color:white">
          <thead style=" font-weight: bold">
            <table>
              <tr>
                <div>
                  <th style="font-family: Arial, Geneva, Tahoma, sans-serif;"> Joint :
                    <table>
                      <tr>
                        <td style="text-align: left">
                          <input AllowOnlyDecimal="true" type="text" class="w3-input w3-border" [formControl]="txtJoint"
                            placeholder="Joint" style="font-family: Arial, Geneva, Tahoma, sans-serif;"
                            (blur)="adminSandbox.ProjectBriefDetailHousesTotal(txtJoint.value,txtFemale.value,txtMale.value,txtTransgender.value)">
                          <label *ngIf="submitted && txtJoint.hasError('required')" class="error-label"
                            style="color: red;font-family: Arial, Geneva, Tahoma, sans-serif;">Please
                            enter joint. </label>
                        </td>
                      </tr>
                    </table>
                  </th>
                  <th style="font-family: Arial, Geneva, Tahoma, sans-serif;"> Female :
                    <table>
                      <tr>
                        <td style="text-align: left">
                          <input AllowOnlyDecimal="true" type="text" class="w3-input w3-border"
                            [formControl]="txtFemale" placeholder="Female"
                            style="font-family: Arial, Geneva, Tahoma, sans-serif;"
                            (blur)="adminSandbox.ProjectBriefDetailHousesTotal(txtJoint.value,txtFemale.value,txtMale.value,txtTransgender.value)">
                          <label *ngIf="submitted && txtFemale.hasError('required')" class="error-label"
                            style="color: red;font-family: Arial, Geneva, Tahoma, sans-serif;">Please
                            enter female. </label>
                        </td>
                      </tr>
                    </table>
                  </th>
                  <th style="font-family: Arial, Geneva, Tahoma, sans-serif;"> Male :
                    <table>
                      <tr>
                        <td style="text-align: left">
                          <input AllowOnlyDecimal="true" type="text" class="w3-input w3-border" [formControl]="txtMale"
                            placeholder="Male" style="font-family: Arial, Geneva, Tahoma, sans-serif;"
                            (blur)="adminSandbox.ProjectBriefDetailHousesTotal(txtJoint.value,txtFemale.value,txtMale.value,txtTransgender.value)">
                          <label *ngIf="submitted && txtMale.hasError('required')" class="error-label"
                            style="color: red;font-family: Arial, Geneva, Tahoma, sans-serif;">Please
                            enter male. </label>
                        </td>
                      </tr>
                    </table>
                  </th>
                  <th style="font-family: Arial, Geneva, Tahoma, sans-serif;"> Transgender :
                    <table>
                      <tr>
                        <td style="text-align: left">
                          <input AllowOnlyDecimal="true" type="text" class="w3-input w3-border"
                            [formControl]="txtTransgender" placeholder="Transgender"
                            style="font-family: Arial, Geneva, Tahoma, sans-serif;"
                            (blur)="adminSandbox.ProjectBriefDetailHousesTotal(txtJoint.value,txtFemale.value,txtMale.value,txtTransgender.value)">
                          <label *ngIf="submitted && txtTransgender.hasError('required')" class="error-label"
                            style="color: red;font-family: Arial, Geneva, Tahoma, sans-serif;">Please
                            enter transgender. </label>
                        </td>
                      </tr>
                    </table>
                  </th>
                  <th style="font-family: Arial, Geneva, Tahoma, sans-serif;"> Total :
                    <table>
                      <tr>
                        <td style="text-align: left">
                          <input AllowOnlyDecimal="true" type="text" class="w3-input w3-border" disabled
                            [formControl]="txtTotalHouses" placeholder="Total"
                            [(ngModel)]="adminSandbox.ProjectBriefDetailCost"
                            style="font-family: Arial, Geneva, Tahoma, sans-serif;">

                        </td>
                      </tr>
                    </table>
                  </th>
                </div>
              </tr>

            </table>
          </thead>
        </tr>
      </table>
      <br>

      <br>

      <div class="w3-row">
        <div class="w3-quarter w3-left" style="width: 14%;">
          <label style="font-family: Arial, Geneva, Tahoma, sans-serif;padding-top: 8px;">
            Attached 7A,7B or 7C :
          </label>
        </div>
        <div class="w3-quarter w3-left" style="width: 22%;">
          <input type="file" accept="application/pdf" [formControl]="txtSelectFile" (change)="selectFile($event)"
            name="txtSelectFile" style="font-family: Arial, Geneva, Tahoma, sans-serif;" />
        </div>

      </div>
      <div style="text-align: center">
        <button type="submit" style="font-family: Arial, Geneva, Tahoma, sans-serif;"
          class="w3-btn w3-orange w3-round w3-ripple">{{ActionStatus}}</button>
      </div>
    </form>
    <br> <form>
    <div class="pic-container" >
      <div style="width: 95%; height: 400px; overflow: scroll">
          <table class="table" border="1px" style="width: 89%;" align="center">
            <thead style="background-color: lightgray; font-weight: bold">
              <tr>
                <td style="text-align: right;font-family: Arial, Geneva, Tahoma, sans-serif;">S.No</td>
                <td style="text-align: left;font-family: Arial, Geneva, Tahoma, sans-serif;">State Name</td>
                <td style="text-align: left;font-family: Arial, Geneva, Tahoma, sans-serif;">District Name</td>
                <td style="text-align: left;font-family: Arial, Geneva, Tahoma, sans-serif;">City Name</td>
                <td style="text-align: right;font-family: Arial, Geneva, Tahoma, sans-serif;display: none;" >Scheme</td>

                <td style="text-align: right;font-family: Arial, Geneva, Tahoma, sans-serif;">CSMC DATE</td>
                <td style="text-align: right;font-family: Arial, Geneva, Tahoma, sans-serif;">CSMC No </td>
                <td style="text-align: right;font-family: Arial, Geneva, Tahoma, sans-serif;">Houses Sanctioned</td>
                
                <td style="text-align: left;font-family: Arial, Geneva, Tahoma, sans-serif;">Component</td>
                <td style="text-align: left;font-family: Arial, Geneva, Tahoma, sans-serif;">Project Code</td>

                <td style="text-align: left;font-family: Arial, Geneva, Tahoma, sans-serif;">NodalAgency</td>
                <td style="text-align: left;font-family: Arial, Geneva, Tahoma, sans-serif;">ImplementingAgency</td>
                <td style="text-align: left;font-family: Arial, Geneva, Tahoma, sans-serif;">SLSMCDate</td>
                		
                <!-- <td style="text-align: right;font-family: Arial, Geneva, Tahoma, sans-serif;">Date</td> -->
                <td style="text-align: left;font-family: Arial, Geneva, Tahoma, sans-serif;">Whether Slum</td>
                <td style="text-align: left;font-family: Arial, Geneva, Tahoma, sans-serif;">Slum Name</td>
                <td style="text-align: left;font-family: Arial, Geneva, Tahoma, sans-serif;">Houses Covered</td>
                <td style="text-align: left;font-family: Arial, Geneva, Tahoma, sans-serif;">Housing Cost</td>
                <td style="text-align: right;font-family: Arial, Geneva, Tahoma, sans-serif;">Infrastructure Cost</td>
                <td style="text-align: left;font-family: Arial, Geneva, Tahoma, sans-serif;">Other</td>
                <td style="text-align: left;font-family: Arial, Geneva, Tahoma, sans-serif;">General</td>
                <td style="text-align: left;font-family: Arial, Geneva, Tahoma, sans-serif;">SC</td>
                <td style="text-align: left;font-family: Arial, Geneva, Tahoma, sans-serif;">ST</td>
                <td style="text-align: left;font-family: Arial, Geneva, Tahoma, sans-serif;">OBC</td>
                <td style="text-align: left;font-family: Arial, Geneva, Tahoma, sans-serif;">Other EWS</td>
                <td style="text-align: left;font-family: Arial, Geneva, Tahoma, sans-serif;">Minority</td>
                <td style="text-align: left;font-family: Arial, Geneva, Tahoma, sans-serif;">Joint</td>
                <td style="text-align: left;font-family: Arial, Geneva, Tahoma, sans-serif;">Female</td>
                <td style="text-align: left;font-family: Arial, Geneva, Tahoma, sans-serif;">Male</td>
                <td style="text-align: left;font-family: Arial, Geneva, Tahoma, sans-serif;">Transgender</td>
                <td style="text-align: left;font-family: Arial, Geneva, Tahoma, sans-serif;">Total Houses Consructed </td>
                <td  style="text-align: left;font-family: Arial, Geneva, Tahoma, sans-serif;"> Action </td>

                <td  style="text-align: left;font-family: Arial, Geneva, Tahoma, sans-serif;">Download PDF</td>
                             </tr>
            </thead>
            <tbody>
              <tr *ngFor="let briefDetail of adminSandbox.projectBriefDetail;let i = index"
                style="text-align: center;background-color:white">
                <td style="text-align: right;border-top: 1px solid black;">{{i+1}}</td>
                <td style="text-align: left;font-family: Arial, Geneva, Tahoma, sans-serif;border-top: 1px solid black;">
                  {{briefDetail.States_UT}}</td>
                <td style="text-align: left;font-family: Arial, Geneva, Tahoma, sans-serif;border-top: 1px solid black;">
                  {{briefDetail.District}}</td>
                <td style="text-align: left;font-family: Arial, Geneva, Tahoma, sans-serif;border-top: 1px solid black;">
                  {{briefDetail.City}}</td>
                <td style="text-align: left;font-family: Arial, Geneva, Tahoma, sans-serif;border-top: 1px solid black;display: none;">
                  {{briefDetail.Scheme}}</td>
                
                  <td style="text-align: left;font-family: Arial, Geneva, Tahoma, sans-serif;border-top: 1px solid black;"> {{briefDetail.CSMCDate|date: 'yyyy-dd-MM'}}</td>
                <td style="text-align: left;font-family: Arial, Geneva, Tahoma, sans-serif;border-top: 1px solid black;"> {{briefDetail.CSMCNumber}}</td>
                <td style="text-align: left;font-family: Arial, Geneva, Tahoma, sans-serif;border-top: 1px solid black;"> {{briefDetail.TotalSanction}}</td>

                  <td style="text-align: left;font-family: Arial, Geneva, Tahoma, sans-serif;border-top: 1px solid black;">
                  {{briefDetail.Component}}</td>
                <td style="text-align: left;font-family: Arial, Geneva, Tahoma, sans-serif;border-top: 1px solid black;">
                  {{briefDetail.ProjectCode}}</td>
              
                <td style="text-align: left;font-family: Arial, Geneva, Tahoma, sans-serif;border-top: 1px solid black;">
                  {{briefDetail.NodalAgency}}</td>
                <td style="text-align: left;font-family: Arial, Geneva, Tahoma, sans-serif;border-top: 1px solid black;">
                  {{briefDetail.ImplementingAgency}}</td>
                <td style="text-align: left;font-family: Arial, Geneva, Tahoma, sans-serif;border-top: 1px solid black;">
                  {{briefDetail.SLSMCDate|date: 'yyyy-dd-MM'}}</td>
                <td style="text-align: left;font-family: Arial, Geneva, Tahoma, sans-serif;border-top: 1px solid black;">
                  {{briefDetail.WhetherSlum}}</td>
                <td style="text-align: left;font-family: Arial, Geneva, Tahoma, sans-serif;border-top: 1px solid black;">
                  {{briefDetail.SlumName}}</td>
                <td style="text-align: left;font-family: Arial, Geneva, Tahoma, sans-serif;border-top: 1px solid black;">
                  {{briefDetail.SlumCOvered}}</td>
                <td style="text-align: left;font-family: Arial, Geneva, Tahoma, sans-serif;border-top: 1px solid black;">
                  {{briefDetail.HousingCost}}</td>
                <td style="text-align: left;font-family: Arial, Geneva, Tahoma, sans-serif;border-top: 1px solid black;">
                  {{briefDetail.InfaCost}}</td>
                <td style="text-align: left;font-family: Arial, Geneva, Tahoma, sans-serif;border-top: 1px solid black;">
                  {{briefDetail.OtherCost}}</td>
                <td style="text-align: left;font-family: Arial, Geneva, Tahoma, sans-serif;border-top: 1px solid black;">
                  {{briefDetail.General}}</td>
                <td style="text-align: left;font-family: Arial, Geneva, Tahoma, sans-serif;border-top: 1px solid black;">
                  {{briefDetail.SC}}</td>
                <td style="text-align: left;font-family: Arial, Geneva, Tahoma, sans-serif;border-top: 1px solid black;">
                  {{briefDetail.ST}}</td>
                <td style="text-align: left;font-family: Arial, Geneva, Tahoma, sans-serif;border-top: 1px solid black;">
                  {{briefDetail.OBC}}</td>
                <td style="text-align: left;font-family: Arial, Geneva, Tahoma, sans-serif;border-top: 1px solid black;">
                  {{briefDetail.OtherEWS}}</td>
                <td style="text-align: left;font-family: Arial, Geneva, Tahoma, sans-serif;border-top: 1px solid black;">
                  {{briefDetail.Minority}}</td>
              
                <td style="text-align: left;font-family: Arial, Geneva, Tahoma, sans-serif;border-top: 1px solid black;">
                  {{briefDetail.Joint}}</td>
                <td style="text-align: left;font-family: Arial, Geneva, Tahoma, sans-serif;border-top: 1px solid black;">
                  {{briefDetail.Female}}</td>
                <td style="text-align: left;font-family: Arial, Geneva, Tahoma, sans-serif;border-top: 1px solid black;">
                  {{briefDetail.Male}}</td>
                <td style="text-align: left;font-family: Arial, Geneva, Tahoma, sans-serif;border-top: 1px solid black;">
                  {{briefDetail.Transgender}}</td>
              
              
                <td style="text-align: left;font-family: Arial, Geneva, Tahoma, sans-serif;border-top: 1px solid black;">
                  {{briefDetail.TotalHouses}}</td>
                <!-- <td style="text-align:center;color:blue;border-top: 1px solid black;"
                                (click)="adminSandbox.downloadRelease(briefDetail.PDF)">Download</td> -->
               
                <td  style="text-align: left;font-family: Arial, Geneva, Tahoma, sans-serif;border-top: 1px solid black;"><button type="button" (click)="Edit(briefDetail)">Edit</button></td>
                 <td style="text-align: left;font-family: Arial, Geneva, Tahoma, sans-serif;border-top: 1px solid black;"
                  (click)="adminSandbox.download_PBD_Release(briefDetail.PDF,'ProjectBriefDetail')">
                  Download</td>
              </tr>
            </tbody>
          </table>
      </div>
</div>
</form>
  </div>

</div>