<div class="content-header">
  <div class="container-fluid">
    <div class="row">
      <h1>Create City Master</h1>
    </div>
  </div>
</div>


<div class="container-fluid" style="padding-top: 15px;" [ngStyle]="{background: backgroundColor}">
  <div class="row">
    <form [formGroup]="cityMaster" (ngSubmit)="onClickCityMaster($event, cityMaster)">
      <div class="col-md-3 col-sm-3 col-xs-6">
        <div class="form-group" [ngClass]="{'has-error': submitted && ddlStateCode.hasError('required')}">
          <label class="control-label">State Name</label>
          <select [formControl]="ddlStateCode" [(ngModel)]="State"
            (change)="adminSandbox.getStateDistrictData($event.target.value);adminSandbox.getCityData($event.target.value,null);this.District=''"
            class="form-control">
            <option value="" disabled>Please select state--</option>
            <option *ngFor="let state of adminSandbox.stateMaster" [value]="state.Codes">
              {{state.States_UT}}</option>
          </select>
        </div>
      </div>

      <div class="col-md-3 col-sm-3 col-xs-6">
        <div class="form-group" [ngClass]="{'has-error': submitted && ddlDistrictCode.hasError('required')}">
          <label class="control-label">District Name</label>
          <select [formControl]="ddlDistrictCode" [(ngModel)]="District"
            (change)="adminSandbox.getDistrictCityData($event.target.value);adminSandbox.getCityData(ddlStateCode.value,ddlDistrictCode.value);"
            class="form-control">
            <option value="" disabled>Please select district--</option>
            <option *ngFor="let ditrict of adminSandbox.stateDistrictMaster" [value]="ditrict.Dcode">
              {{ditrict.District}}</option>
          </select>
        </div>
      </div>

      <div class="col-md-3 col-sm-3 col-xs-6">
        <div class="form-group" [ngClass]="{'has-error': submitted && txtCityName.hasError('required')}">
          <label class="control-label">City Name</label>
          <input type="text" class="form-control" [formControl]="txtCityName" placeholder="City Name">
        </div>
      </div>

      <div class="col-md-3 col-sm-3 col-xs-6">
        <div class="form-group" [ngClass]="{'has-error': submitted && ddlDistrictCode.hasError('required')}">
          <label class="control-label"> City Code</label>
          <input type="text" class="form-control" [formControl]="txtCityCode" placeholder=" City Code ">
        </div>
      </div>

      <div class="box-footer col-md-12" style="clear: both;">
        <button class="pull-right btn btn-warning" type="submit">Submit</button>
      </div>
      <div class="w3-row">
        <!-- <div class="w3-quarter w3-left" style="width: 10%;">
        <label style="font-family: Arial, Geneva, Tahoma, sans-serif;padding-top: 8px;">
          State Name :
        </label>
      </div>
      <div class="w3-quarter w3-left" style="width: 22%;">
        <select [formControl]="ddlStateCode" [(ngModel)]="State" style="font-family: Arial, Geneva, Tahoma, sans-serif;"
          (change)="adminSandbox.getStateDistrictData($event.target.value);adminSandbox.getCityData($event.target.value,null);this.District=''"
          class="w3-input w3-border">
          <option value="" disabled>Please select state--</option>
          <option *ngFor="let state of adminSandbox.stateMaster" [value]="state.Codes">
            {{state.States_UT}}</option>
        </select>
        <label *ngIf="submitted && ddlStateCode.hasError('required')" class="error-label"
          style="color: red;font-family: Arial, Geneva, Tahoma, sans-serif;">Please
          select
          state name. </label>
      </div> -->

        <!-- <div class="w3-quarter w3-center" style="width: 10%;">
        <label style="font-family: Arial, Geneva, Tahoma, sans-serif;padding-top: 8px;">
          District Name :
        </label>
      </div>
      <div class="w3-quarter w3-left" style="width: 22%;">
        <select [formControl]="ddlDistrictCode" [(ngModel)]="District"
          style="font-family: Arial, Geneva, Tahoma, sans-serif;"
          (change)="adminSandbox.getDistrictCityData($event.target.value);adminSandbox.getCityData(ddlStateCode.value,ddlDistrictCode.value);"
          class="w3-input w3-border">
          <option value="" disabled>Please select district--</option>
          <option *ngFor="let ditrict of adminSandbox.stateDistrictMaster" [value]="ditrict.Dcode">
            {{ditrict.District}}</option>
        </select>
        <label *ngIf="submitted && ddlDistrictCode.hasError('required')" class="error-label"
          style="color: red;font-family: Arial, Geneva, Tahoma, sans-serif;">Please
          select
          district name. </label>
      </div> -->
        <!-- <div class="w3-quarter w3-center" style="width: 10%;">
        <label style="font-family: Arial, Geneva, Tahoma, sans-serif;padding-top: 8px;">
          City Name:
        </label>
      </div>
      <div class="w3-quarter w3-left" style="width: 22%;">
        <input type="text" class="w3-input w3-border" style="font-family: Arial, Geneva, Tahoma, sans-serif;"
          [formControl]="txtCityName" placeholder="City Name">
        <label *ngIf="submitted && txtCityName.hasError('required')" class="error-label"
          style="color: red;font-family: Arial, Geneva, Tahoma, sans-serif;">Please
          enter city name. </label>
      </div> -->
      </div>
      <!-- <div class="w3-row">

      <div class="w3-quarter w3-left" style="width: 10%;">
        <label style="font-family: Arial, Geneva, Tahoma, sans-serif;padding-top: 8px;">
          City Code :
        </label>
      </div>
      <div class="w3-quarter w3-left" style="width: 22%;">
        <input type="text" class="w3-input w3-border" style="font-family: Arial, Geneva, Tahoma, sans-serif;"
          [formControl]="txtCityCode" placeholder=" City Code ">
        <label *ngIf="submitted && txtCityCode.hasError('required')" class="error-label"
          style="color: red;font-family: Arial, Geneva, Tahoma, sans-serif;">Please
          enter city code.</label>
      </div>
    </div> -->
      <!-- <div style="text-align: center">
      <button type="submit" style="font-family: Arial, Geneva, Tahoma, sans-serif;"
        class="w3-btn w3-orange w3-round w3-ripple">Submit</button>
    </div> -->
    </form>
  </div>

  <table class="table table-striped" border="1px" style="width: 100%;" align="center"
    *ngIf="adminSandbox.cityMaster.length>0">
    <thead>
      <tr class="blueBg">
        <td>S.No</td>
        <td>City Name</td>
        <td>City Code</td>
        <td>Action</td>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let city of adminSandbox.cityMaster;let i = index">
        <td>{{i+1}}</td>
        <td> {{city.City}}</td>
        <td> {{city.CityCode}}</td>
        <td>
          <button (click)="adminSandbox.editCityMaster('block',city)" type="submit"
            class="btn btn-info btn-xs">Edit</button>
          &nbsp;
          <button (click)="adminSandbox.deleteCityData(city)" type="submit"
            class="btn btn-danger btn-xs">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<div [style.display]="adminSandbox.showProperty" class="w3-modal w3-animate-opacity">
  <div class="w3-modal-content w3-card-4">
    <header class="w3-container w3-teal">
      <span (click)="adminSandbox.editCityMaster('none','')"
        class="w3-button w3-large w3-display-topright">&times;</span>
      <h2 style="padding-left: 17px;font-family: Arial, Geneva, Tahoma, sans-serif;">Update City-Master</h2>
    </header>
    <br>
    <div class="w3-container">
      <form>
        <div class="w3-row">
          <div class="w3-quarter w3-left">
            <label style="font-family: Arial, Geneva, Tahoma, sans-serif;padding-top: 8px;">
              State Name :
            </label>
          </div>
          <div class="w3-quarter w3-left">
            <select name="ddlStateCode" disabled [(ngModel)]="adminSandbox.EditCityMaster.ddlStateCode"
              (change)="adminSandbox.getStateDistrictData($event.target.value)" class="w3-input w3-border"
              style="font-family: Arial, Geneva, Tahoma, sans-serif;">
              <option value="" disabled>Please select state--</option>
              <option *ngFor="let state of adminSandbox.stateMaster" [value]="state.Codes">
                {{state.States_UT}}</option>
            </select>
          </div>
          <div class="w3-quarter w3-left">
            <label style="font-family: Arial, Geneva, Tahoma, sans-serif;padding-top: 8px;">
              District Name :
            </label>
          </div>
          <div class="w3-quarter w3-left">
            <select [formControl]="ddlDistrictCode" disabled [(ngModel)]="adminSandbox.EditCityMaster.ddlDistrictCode"
              (change)="adminSandbox.getDistrictCityData($event.target.value)" class="w3-input w3-border"
              style="font-family: Arial, Geneva, Tahoma, sans-serif;">
              <option value="" disabled>Please select district--</option>
              <option *ngFor="let ditrict of adminSandbox.stateDistrictMaster" [value]="ditrict.Dcode">
                {{ditrict.District}}</option>
            </select>
          </div>
        </div>
        <div>
          <input type="hidden" name="hiddendTxtCityID" [(ngModel)]="adminSandbox.EditCityMaster.hiddendTxtCityID" />
        </div>
        <br>
        <div class="w3-row">
          <div class="w3-quarter w3-center">
            <label style="font-family: Arial, Geneva, Tahoma, sans-serif;padding-top: 8px;">
              City Name :
            </label>
          </div>
          <div class="w3-quarter w3-left">
            <input type="text" [(ngModel)]="adminSandbox.EditCityMaster.txtCityName" class="w3-input w3-border"
              name="txtCityName" placeholder=" City Name" style="font-family: Arial, Geneva, Tahoma, sans-serif;">

          </div>
          <div class="w3-quarter w3-left">
            <label style="font-family: Arial, Geneva, Tahoma, sans-serif;padding-top: 8px;">
              City Code :
            </label>
          </div>
          <div class="w3-quarter w3-left">
            <input type="text" [(ngModel)]="adminSandbox.EditCityMaster.txtCityCode" class="w3-input w3-border"
              name="txtCityCode" placeholder=" City Code " style="font-family: Arial, Geneva, Tahoma, sans-serif;">
          </div>
        </div>
        <br>
        <div style="text-align: center">
          <button type="submit" style="font-family: Arial, Geneva, Tahoma, sans-serif;"
            (click)="adminSandbox.updateCityMaster()" class="w3-btn w3-orange w3-round w3-ripple">Submit</button>
        </div>
        <br>
      </form>
    </div>
    <footer class="w3-container w3-teal">
    </footer>
  </div>
</div>