<div class="container">
    <div class="row"><h2>City Master</h2></div>
  <div class="row">
          <div class="col-md-4">
              <b>Type any keyword to search</b><br>
              <input type="text" [(ngModel)]="searchText" autocomplete="off" class="form-control col-md-4">
          </div>
          <div class="row" align="right" style="padding:10px;padding-right: 40px">
              <input type="button" (click)="openModalDialog()" value="Add City" class="btn btn-default">
          </div>
  </div>
  <div class="row">
      </div>
      <hr>
      <div class="row">
          <table class="table table-striped" align="center">
              <tr class="btn-primary" style="height: 50px;width:600px;">
                  <th>State Name</th>                
                  <th>State code</th>
                  <th>Distt Name</th>                
                  <th>Dcode</th>
                  <th>City Name</th>
                  <th>City Code</th>
                  <th>Status</th>
                  <th style="width: 100px">Action</th>
              </tr>
              <tr *ngFor="let City_ of CityMaster | paginate: { itemsPerPage: 5, currentPage: p } | filter:searchText" >
                  <!-- <td style="padding-left: 40px">{{dist.DisttId}}</td> -->
                  <td>{{City_.StatesName}}</td>
                  <td>{{City_.Codes}}</td>
                   <td>{{City_.District}}</td>
                  <td>{{City_.Dcode}}</td>
                  <td>{{City_.City}}</td>
                  <td>{{City_.CityCode}}</td>
                  <td>{{City_.Status}}</td>
                  <td  style="padding: 5px"><button type="button" (click)="EditState(dist)" class="btn btn-link">Edit</button>&nbsp;&nbsp;
              </tr>
              <tr>
                  <td colspan="4">
                          <ul class="pagination">  
                                      <pagination-controls (pageChange)="p = $event"></pagination-controls>  
                          </ul>  
                 </td>
              </tr>
          </table>
  </div>
  </div>
  
  
  <!-- modal -->
  <div class="modal" tabindex="-1" role="dialog" style="height: 510px" [ngStyle]="{'display':display}">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header" style="background-color:#2C7BBA;color:white;height: 50px;">
              <div style="width:570px">
                  <div style="width: 550px;float:left"><h4 class="modal-title">Save City</h4></div>
                  <div style="width: 20px;float:left">
                      <button type="button" class="close" style="color: white" aria-label="Close" (click)="closeModalDialog()"><span aria-hidden="true">&times;</span></button>
                  </div>
              </div>   
      </div>
      <!-- modal-body -->


    


      <div class="modal-body">
        <div class="row" style="padding:15px">
                    <div class="row" style="padding: 4px">
                                <div class="row" style="padding: 4px">
                                        <div class="col-md-4">
                                            <input type="hidden" [(ngModel)]="DisttId">
                                            <label>State</label>
                                        </div>
                                        <div class="col-md-8">
                                                <select class="form-control" placeholder="Choose State" [(ngModel)]="StateCode" (change)="getStateDetails($event.target.value)"
                                                            style="width: 300px;font-display: #FF00FF;color: black">
                                                            <option [selected]="true"  >{{StateMessage}}</option>
                                                            <option *ngFor='let sntry of service.StateDetails' [value]='sntry.Codes'>
                                                            {{sntry.States_UT}}     
                                                            </option>
                                                </select> 
                                        </div>
                                </div>
                                <div class="row">
                                        <div class="col-md-4">
                                            <label>District Name </label>
                                        </div>
                                        <div class="col-md-8">
                                            <div style="border: white"><select class="form-control" placeholder="" (change)="getDistrictDetails($event.target.value)"
                                                style="width: 200px;font-display: black;color: black;;border-color: black;font-family: Arial, Geneva, Tahoma, sans-serif">
                                                <option value={{distValue}}>{{DistrictMessage}}</option>
                                                <option *ngFor='let sntry of service.DisttDetails' [value]='sntry.Dcode'>
                                                    {{sntry.District}}
                                                </option>
                                                </select>
                                        </div>
                                        </div>
                                </div>
                                <!-- <div class="row">
                                        <div class="col-md-4">
                                            <label>City</label>
                                        </div>
                                        <div class="col-md-8">
                                            <div class="col-md-4">
                                                  <div style="color:arial-narrow;border: black"> <select class="form-control" placeholder="Choose City"
                                                  (change)="getCityDetails($event.target.value)"
                                                  style="width: 200px;font-size: 18px;font-display: black;color:black;border-color: black;font-family: Arial, Helvetica, sans-serif">
                                                  <option value={{cityValue}}>{{CityMessage}}</option>
                                                  <option *ngFor='let sntry of service.CityDetails' [value]='sntry.CityCode'>
                                                    {{sntry.City}}
                                                  </option>
                                                </select>  </div>
                                          </div>
                                        </div>
                                </div> -->
                                <div class="row"  style="padding: 4px">
                                        <div class="col-md-4">
                                            <label>City Name</label>
                                        </div>
                                        <div class="col-md-8">
                                            <input type="text" name="City" numeric maxlength="5"   [(ngModel)]="Dcode"  class="form-control">
                                        </div>
                                </div>
                                <div class="row"  style="padding: 4px">
                                    <div class="col-md-4">
                                        <label>City Code</label>
                                    </div>
                                    <div class="col-md-8">
                                        <input type="text" name="CityCode" numeric maxlength="5"   [(ngModel)]="Dcode"  class="form-control">
                                    </div>
                            </div>
                                <div class="row" style="align-items: center;padding: 4px">
                                    <div class="col-md-4">
                                        <label>Status</label>
                                    </div>
                                    <div class="col-md-8">
                                        <select class="form-control" [(ngModel)]="Active"
                                        style="font-display: #FF00FF;color:black;">
                                                <option  [selected]="true" [ngValue]="Active" >Active</option>
                                                <option [ngValue]="Inactive">Inactive</option>
                                        </select>
                                    </div>
                                </div>
                                <!-- <div class="row" style="align-items: center;padding: 4px">
                                        <div class="col-md-4">
                                            <label>Backward</label>
                                        </div>
                                        <div class="col-md-8">
                                                <fieldset id="horizontal" class="horizontal">
                                                        <input type="radio"  [(ngModel)]="BackwardDistrict"  name="backward" value="Yes">    Yes 
                                                        <input type="radio"  [(ngModel)]="BackwardDistrict"  name="backward" value="No"> No 
                                                    </fieldset>
                                        </div>
                                </div>
                                <div class="row" style="align-items: center;padding: 4px">
                                            <div class="col-md-4">
                                                <label>Minority</label>
                                            </div>
                                            <div class="col-md-8">
                                                    <fieldset id="horizontal" class="horizontal">
                                                            <input type="radio"  [(ngModel)]="Minority"    name="Minority" value="Yes">    Yes 
                                                            <input type="radio"  [(ngModel)]="Minority"    name="Minority" value="No"> No 
                                                        </fieldset>
                                            </div>
                                </div> -->
                    </div>
        </div>
            <!-- modal-footer -->
            <div class="modal-footer">
                    <input type ="button" (click)="SaveDataDistt()" value="{{action}}" class="btn btn-success" />&nbsp;&nbsp;&nbsp;
                    <input type ="button"  (click)="ResetState()" value="Reset" class="btn btn-warning" />      
            </div>
    </div>
  </div>
  </div>
  </div>
  