<!--  <br>    -->

<div class="container-fluid" style="padding: 15px;">
  <div class="row rowChild">
    <div class="col-md-6 col-sm-12 col-xs-12">
      <div class="info-box bg-yellow">
        <span class="info-box-icon" style="min-height: 173px; line-height: 173px;"><i class="fa fa-home"></i></span>
        <div class="info-box-content">
          <h5 class="widget-user-username" style="font-size:20px; text-align: center;"><strong>Construction of Houses
            </strong>( Nos in lakh)</h5>
          <table class="table" border="1">
            <tr style="background-color: rgba(0,0,0,0.2);color:#fff;">
              <th>Demand</th>
              <th>Sanctioned</th>
              <th>Grounded</th>
              <th>Completed</th>
              <th>Occupied</th>
            </tr>
            <tr>
              <td>
                <div counto [step]="25" [countTo]="counter" [countFrom]="0" [duration]="4"
                  (countoChange)="counto_a = $event" (countoEnd)="onCountoEnd()">{{112.24}}</div>
              </td>
              <td>
                <div counto [step]="25" [countTo]="counter" [countFrom]="0" [duration]="4"
                  (countoChange)="counto_a = $event" (countoEnd)="onCountoEnd()">{{counto_a | number:'1.2-3'}}</div>
              </td>
              <td>
                <div counto [step]="25" [countTo]="counter1" [countFrom]="0" [duration]="4"
                  (countoChange)="counto_b = $event" (countoEnd)="onCountoEnd()">{{counto_b | number:'1.2-2'}}</div>
              </td>
              <td>
                <!-- <div counto [step]="25" [countTo]="" [countFrom]="0" [duration]="4"
                  (countoChange)=" = $event" (countoEnd)="onCountoEnd()">{{counto_c1 | number:'1.2-2'}}</div> -->

                  <div counto [step]="25" [countTo]="counter2" [countFrom]="0" [duration]="4"
                  (countoChange)="counto_c1 = $event" (countoEnd)="onCountoEnd()">{{counto_c1 | number:'1.2-2'}}</div>

              </td>
              <td>
                <div counto [step]="25" [countTo]="counter3" [countFrom]="0" [duration]="4"
                  (countoChange)="counto_d = $event" (countoEnd)="onCountoEnd()">{{counto_d | number:'1.2-2'}}</div>
              </td>
            </tr>
            <tr class="progressBar">
              <td></td>
              <td>
                <div class="progress">
                  <div class="progress-bar" [ngStyle]="{width: getPercent(112.24, counter)}"></div>
                </div>
                <span class="progress-description">
                  {{getPercent(112.24, counter)}}
                </span>
              </td>
              <td>
                <div class="progress">
                  <div class="progress-bar" [ngStyle]="{width: getPercent(counter, counter1)}"></div>
                </div>
                <span class="progress-description">
                  {{getPercent(counter, counter1)}}
                </span>
              </td>
              <td>
                <div class="progress">
                  <div class="progress-bar" [ngStyle]="{width: getPercent(counter1, counter2)}"></div>
                </div>
                <span class="progress-description">
                  {{getPercent(counter1, counter2)}}
                </span>
              </td>
              <td>
                <div class="progress">
                  <div class="progress-bar" [ngStyle]="{width: getPercent(counter2, counter3)}"></div>
                </div>
                <span class="progress-description">
                  {{getPercent(counter2, counter3)}}
                </span>
              </td>
            </tr>
          </table>

        </div>
        <!-- /.info-box-content -->
      </div>
    </div>

    <div class="col-md-6 col-sm-12 col-xs-12">
      <div class="info-box bg-red">
        <span class="info-box-icon" style="min-height: 173px; line-height: 173px;"><i class="fa fa-rupee "></i></span>

        <div class="info-box-content">
          <h5 style="font-size:20px; text-align: center;"><strong>Expenditure of Central assistance</strong> (Rs. in Cr)
          </h5>
          <table class="table" border="1">
            <tr style="background-color:rgba(0,0,0,0.2)">
              <th>Committed</th>
              <th>Approved</th>
              <th>Released</th>
              <th>Utilized</th>
            </tr>
            <tr>
              <td>
                <!-- 1,30,293
                 -->
                <div counto [step]="25" [countTo]="counter5" [countFrom]="130200" [duration]="4"
                  (countoChange)="counto_c = $event" (countoEnd)="onCountoEnd()">{{counto_c | number:'0.0-0'}}</div>
              </td>
              <td>
                <div counto [step]="25" [countTo]="counter4" [countFrom]="72100" [duration]="4"
                  (countoChange)="counto_e= $event" (countoEnd)="onCountoEnd()">{{counto_e | number:'0.0-0'}}</div>
              </td>
              <td>
                <!-- 51,550 font-family:DS-DIGIB-->
                <div counto [step]="25" [countTo]="counter6" [countFrom]="51500" [duration]="4"
                  (countoChange)="counto_f= $event" (countoEnd)="onCountoEnd()">{{counto_f | number:'0.0-0'}}</div>
              </td>
              <td>
                <!-- 41,291 -->
                <div counto [step]="25" [countTo]="counter7" [countFrom]="41200" [duration]="4"
                  (countoChange)="counto_g= $event" (countoEnd)="onCountoEnd()">{{counto_g | number:'0.0-0'}}</div>
              </td>
            </tr>
            <tr class="progressBar">
              <td>

              </td>
              <td>
                <div class="progress">
                  <div class="progress-bar" [ngStyle]="{width: getPercent(counter5, counter4)}"></div>
                </div>
                <span class="progress-description">
                  {{getPercent(counter5, counter4)}}
                </span>
              </td>
              <td>
                <div class="progress">
                  <div class="progress-bar" [ngStyle]="{width: getPercent(counter4, counter6)}"></div>
                </div>
                <span class="progress-description">
                  {{getPercent(counter4, counter6)}}
                </span>
              </td>
              <td>
                <div class="progress">
                  <div class="progress-bar" [ngStyle]="{width: getPercent(counter6, counter7)}"></div>
                </div>
                <span class="progress-description">
                  {{getPercent(counter6, counter7)}}
                </span>
              </td>
            </tr>
          </table>

        </div>
        <!-- /.info-box-content -->
      </div>
    </div>


  </div>


  <div class="row rowChild">
    <div class="col-md-6 col-sm-12 col-xs-12">
      <div class="info-box bg-green">
        <span class="info-box-icon" style="min-height: 173px; line-height: 173px;"><i class="fa fa-rupee"></i></span>

        <div class="info-box-content">
          <h5 class="widget-user-username" style="font-size:20px; text-align: center;"><strong>Investment</strong> ( in
            lakh cr.)</h5>
          <table class="table">
            <tr style="background-color:rgba(0,0,0,0.2)">
              <th> Overall</th>
              <th>Public</th>
              <th>Private</th>
              <!-- <th> </th> -->
            </tr>
            <tr>
              <td>
                <!-- 4.97 -->
                <div counto [step]="2" [countTo]="counter8" [countFrom]="2" [duration]="2"
                  (countoChange)="counto_h= $event" (countoEnd)="onCountoEnd()">{{counto_h | number:'2.2-2'}}</div>
              </td>
              <td>
                <!-- 2.60 -->
                <div counto [step]="1" [countTo]="counter9" [countFrom]="2" [duration]="2"
                  (countoChange)="counto_i= $event" (countoEnd)="onCountoEnd()">{{counto_i | number:'2.2-2'}}</div>

              </td>
              <td>
                <!-- 2.37 -->
                <div counto [step]="1" [countTo]="counter10" [countFrom]="2" [duration]="2"
                  (countoChange)="counto_j= $event" (countoEnd)="onCountoEnd()">{{counto_j | number:'2.2-2'}}</div>

              </td>
            </tr>
            <tr class="progressBar">
              <td>
              </td>
              <td>
                <div class="progress">
                  <div class="progress-bar" [ngStyle]="{width: getPercent(counter8, counter9)}"></div>
                </div>
                <span class="progress-description">
                  {{getPercent(counter8, counter9)}}
                </span>
              </td>
              <td>
                <div class="progress">
                  <div class="progress-bar" [ngStyle]="{width: getPercent(counter8, counter10)}"></div>
                </div>
                <span class="progress-description">
                  {{getPercent(counter8, counter10)}}
                </span>
              </td>
            </tr>
          </table>
        </div>
        <!-- /.info-box-content -->
      </div>
    </div>

    <div class="col-md-6 col-sm-12 col-xs-12">
      <div class="info-box bg-aqua">
        <span class="info-box-icon" style="min-height: 173px; line-height: 173px;"><i class="fa fa-users"></i></span>

        <div class="info-box-content">
          <h5 style="font-size:20px; text-align: center;"><strong>Generation of Employment</strong></h5>
          <table class="table">
            <tr style="background-color: rgba(0,0,0,0.2);">
              <th>Details</th>
              <th>Direct</th>
              <th>Indirect</th>
              <th>Total</th>
            </tr>
            <tr>
              <td style="background-color: rgba(0,0,0,0.2);">Person days (Nos in Cr.)</td>
              <td>
                <!-- 96.97 -->
                <div counto [step]="25" [countTo]="counter11" [countFrom]="10" [duration]="4"
                  (countoChange)="counto_k= $event" (countoEnd)="onCountoEnd()">{{counto_k | number:'0.0-0'}}</div>

              </td>
              <td>
                <!-- counter12 215.48 -->
                <div counto [step]="25" [countTo]="counter12" [countFrom]="10" [duration]="4"
                  (countoChange)="counto_l= $event" (countoEnd)="onCountoEnd()">{{counto_l | number:'0.0-0'}}</div>

              </td>
              <td>
                <!-- 312.45 -->
                <div counto [step]="25" [countTo]="counter14" [countFrom]="10" [duration]="4"
                  (countoChange)="counto_m= $event" (countoEnd)="onCountoEnd()">{{counto_m | number:'0.0-0'}}</div>
              </td>
            </tr>
            <tr>
              <td style="background-color: rgba(0,0,0,0.2);">Jobs (in lakh)</td>
              <td>
                <!-- counter15 34.63 -->
                <div counto [step]="25" [countTo]="counter15" [countFrom]="10" [duration]="4"
                  (countoChange)="counto_n= $event" (countoEnd)="onCountoEnd()">{{counto_n | number:'0.0-0'}}</div>
              </td>
              <td>
                <!-- counter16 76.96 -->
                <div counto [step]="25" [countTo]="counter16" [countFrom]="10" [duration]="4"
                  (countoChange)="counto_o= $event" (countoEnd)="onCountoEnd()">{{counto_o | number:'0.0-0'}}</div>
              </td>
              <td>
                <!--counter17 111.59 -->
                <div counto [step]="25" [countTo]="counter17" [countFrom]="10" [duration]="4"
                  (countoChange)="counto_p= $event" (countoEnd)="onCountoEnd()">{{counto_p | number:'0.0-0'}}</div>
              </td>
            </tr>
          </table>

        </div>
        <!-- /.info-box-content -->
      </div>
    </div>
  </div>

</div>



<!-- <div class="container" style="width: 100%;height: 100%;" [ngStyle]="{background: backgroundColor}">
  <div class="Test Div">
    <div class="row fix-row border dynamicColor">
      <div class="col-md-2 col-sm-3" align="right" style="padding-right: 10px">
        <div class="row" style="padding-right: 14px">
          <br><br>
          <img src="assets\img\home.png" style="width: 50%; max-width: 100px; min-width: 60px;" />
        </div>
        <div class="row" style="padding-right: 11px">
          <br> <br><br> <br><br>
          <img src="assets\img\rs.png" style="width: 70%; max-width: 115px; min-width: 60px;" />
        </div>
        <div class="row" style="padding-right: 18px">
          <br> <br><br> <br><br><br>
          <img src="assets\img\employment.png"
            style="width: 43%; margin-top: 10ox; max-width: 100px; min-width: 60px;" />
        </div>
      </div>
      <div class="col-md-9 col-sm-8">
        <div class="row" [ngStyle]="{background: backgroundColor}">
          <h5 style="font-size:20px; text-align: center;"><strong>Construction of Houses </strong>( Nos in lakh)</h5>
          <table class="table" border="1" style="border-color: #000; color: #000;">
            <tr style="background-color: orange;color:#000;">
              <th>Sanctioned</th>
              <th>Grounded</th>
              <th>Completed</th>
              <th>Occupied</th>
            </tr>
            <tr style="color:#000;">
              <td style="font-size:18px">

                <div counto [step]="25" [countTo]="counter" [countFrom]="0" [duration]="4"
                  (countoChange)="counto_a = $event" (countoEnd)="onCountoEnd()">{{counto_a | number:'1.2-2'}}</div>
              </td>
              <td style="font-size:22px">
                <div counto [step]="25" [countTo]="counter1" [countFrom]="0" [duration]="4"
                  (countoChange)="counto_b = $event" (countoEnd)="onCountoEnd()">{{counto_b | number:'1.2-2'}}</div>
              </td>
              <td style="font-size:22px">
                <div counto [step]="25" [countTo]="counter2" [countFrom]="0" [duration]="4"
                  (countoChange)="counto_c1 = $event" (countoEnd)="onCountoEnd()">{{counto_c1 | number:'1.2-2'}}</div>
              </td>
              <td style="font-size:22px">
                <div counto [step]="25" [countTo]="counter3" [countFrom]="0" [duration]="4"
                  (countoChange)="counto_d = $event" (countoEnd)="onCountoEnd()">{{counto_d | number:'1.2-2'}}</div>
              </td>
            </tr>
          </table>
        </div>



        <div class="row">
          <h5 style="font-size:20px; text-align: center;"><strong>Expenditure of Central assistance</strong> (Rs. in Cr)
          </h5>
          <table class="table" border="1" style="border-color: #fff; color: #000;">
            <tr style="background-color: black;color: white;font-size: 22px">
              <th>Committed</th>
              <th>Approved</th>
              <th>Released</th>
              <th>Utilized</th>
            </tr>
            <tr style="color: #000">
              <td style="font-size:22px">

                <div counto [step]="25" [countTo]="counter5" [countFrom]="130200" [duration]="4"
                  (countoChange)="counto_c = $event" (countoEnd)="onCountoEnd()">{{counto_c | number:'0.0-0'}}</div>

              </td>


              <td style="font-size:22px">

                <div counto [step]="25" [countTo]="counter4" [countFrom]="72100" [duration]="4"
                  (countoChange)="counto_e= $event" (countoEnd)="onCountoEnd()">{{counto_e | number:'0.0-0'}}</div>

              </td>
              <td style="font-size:22px">
                <div counto [step]="25" [countTo]="counter6" [countFrom]="51500" [duration]="4"
                  (countoChange)="counto_f= $event" (countoEnd)="onCountoEnd()">{{counto_f | number:'0.0-0'}}</div>

              </td>
              <td style="font-size:22px">
                <div counto [step]="25" [countTo]="counter7" [countFrom]="41200" [duration]="4"
                  (countoChange)="counto_g= $event" (countoEnd)="onCountoEnd()">{{counto_g | number:'0.0-0'}}</div>

              </td>
            </tr>
          </table>
        </div>
        <div class="row">
          <h5 style="font-size:20px; text-align: center;"><strong>Investment</strong> ( in lakh cr.)</h5>
          <table class="table">
            <tr style="background-color: #00a65a;color: #000;font-size: 22px">
              <th> Overall</th>
              <th>Public</th>
              <th>Private</th>
            </tr>
            <tr style=" color: #000;">
              <td style="font-size:22px">
                <div counto [step]="2" [countTo]="counter8" [countFrom]="2" [duration]="4"
                  (countoChange)="counto_h= $event" (countoEnd)="onCountoEnd()">{{counto_h | number:'2.2-2'}}</div>
              </td>
              <td style="font-size:22px">
                <div counto [step]="0.4" [countTo]="counter9" [countFrom]="2" [duration]="4"
                  (countoChange)="counto_i= $event" (countoEnd)="onCountoEnd()">{{counto_i | number:'2.2-2'}}</div>

              </td>
              <td style="font-size:22px">
                <div counto [step]="0.4" [countTo]="counter10" [countFrom]="2" [duration]="4"
                  (countoChange)="counto_j= $event" (countoEnd)="onCountoEnd()">{{counto_j | number:'2.2-2'}}</div>

              </td>
            </tr>
          </table>
        </div>
        <div class="row">
          <h5 style="font-size:20px; text-align: center;"><strong>Generation of Employment</strong></h5>
          <table class="table">
            <tr style="background-color: #1b8ae8;color: white;font-size: 22px">
              <th>Details</th>
              <th>Direct</th>
              <th>Indirect</th>
              <th>Total</th>
            </tr>
            <tr style="color: #000;">
              <td>Person days (Nos in Cr.)</td>
              <td>
                <div counto [step]="0.25" [countTo]="counter11" [countFrom]="96" [duration]="4"
                  (countoChange)="counto_k= $event" (countoEnd)="onCountoEnd()">{{counto_k | number:'2.2-2'}}</div>

              </td>
              <td>
                <div counto [step]="0.25" [countTo]="counter12" [countFrom]="215" [duration]="4"
                  (countoChange)="counto_l= $event" (countoEnd)="onCountoEnd()">{{counto_l | number:'2.2-2'}}</div>

              </td>
              <td>
                <div counto [step]="0.25" [countTo]="counter14" [countFrom]="312" [duration]="4"
                  (countoChange)="counto_m= $event" (countoEnd)="onCountoEnd()">{{counto_m | number:'2.2-2'}}</div>
              </td>
            </tr>
            <tr style="color: #000;">
              <td>Jobs (in lakh)</td>
              <td>
                <div counto [step]="0.25" [countTo]="counter15" [countFrom]="34" [duration]="4"
                  (countoChange)="counto_n= $event" (countoEnd)="onCountoEnd()">{{counto_n | number:'2.2-2'}}</div>
              </td>
              <td>
                <div counto [step]="0.25" [countTo]="counter16" [countFrom]="76" [duration]="4"
                  (countoChange)="counto_o= $event" (countoEnd)="onCountoEnd()">{{counto_o | number:'2.2-2'}}</div>
              </td>
              <td>
                <div counto [step]="0.25" [countTo]="counter17" [countFrom]="111" [duration]="4"
                  (countoChange)="counto_p= $event" (countoEnd)="onCountoEnd()">{{counto_p | number:'2.2-2'}}</div>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div> -->