<!DOCTYPE html>
<html>
<head>
	<title>HFA PMAY(U)</title>
	 <!-- <link href="./assets/css/bootstrap.css" rel="stylesheet" type="text/css"> -->
	 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">  

	<link href="./assets/css/responsive.css" rel="stylesheet" type="text/css">
	<link href="./assets/css/line-awesome.css" rel="stylesheet" type="text/css"> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
</head>
<body>
	<header class="main-header header-style-one">
        <!--Header Top-->
        <div class="header-top">
            <div class="auto-container">
                <div class="inner-container clearfix">
                    <div class="top-left">
                        <ul class="contact-list clearfix">
                            <li><i class="la la-home"></i> Mr. R. K. Gautam Designation: Director (MoHUA)</li>
                            <li><i class="la la-envelope-o"></i><a href="#">ghtc-mhua@gov.in designed devp by NBO</a></li>
                        </ul>
                    </div>
                    <div class="top-right">
                        <div class="btn-box"><a href="/Login" class="theme-btn btn-style-four">Login</a></div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Header Top -->

        <!-- Header Lower -->
        <div class="header-lower">
            <div class="main-box">
                <div class="auto-container">
                    <div class="inner-container clearfix">
                        <div class="logo-box">
                            <div class="logo"><a href="index-2.html"><img src="images/logo.png" alt="" title=""></a></div>
                        </div>

                        <div class="nav-outer">
                            <!-- Main Menu -->
                            <nav class="main-menu navbar-expand-md navbar-light">
                                <div class="navbar-header">
                                    <!-- Toggle Button -->      
                                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                                        <span class="la la-bars"></span>
                                    </button>
                                </div>
                                
                                <div class="collapse navbar-collapse clearfix" id="navbarSupportedContent">
                                    <ul class="navigation clearfix">
                                        <li class="current"><a href="#">Home</a></li>
                                        <li class=""><a href="#">About</a></li>
                                        <li class="dropdown"><a href="#">Agents</a>
                                            <ul>
                                                <!-- <li><a href="agents.html">Agents</a></li>
                                                <li><a href="agent-detail.html">Agent Detail</a></li> -->
                                            </ul>
                                        </li>
                                        <li class="dropdown"><a href="#">Properties</a>
                                            <!-- <ul>
                                                <li><a href="properties.html">Properties</a></li>
                                                <li><a href="property-list-view.html">Property List View</a></li>
                                                <li><a href="property-grid-view.html">Property Grid View</a></li>
                                                <li><a href="property-modern-view.html">Property Modern View</a></li>
                                                <li><a href="property-detail.html">Property Detail</a></li>
                                            </ul> -->
                                        </li>
                                        <li class="dropdown"><a href="#">Blog</a>
                                            <!-- <ul>
                                                <li><a href="blog.html">Blog Default</a></li>
                                                <li><a href="blog-list.html">Blog List View</a></li>
                                                <li><a href="blog-grid.html">Blog Grid View</a></li>
                                                <li><a href="blog-detail.html">Blog Detail</a></li>
                                            </ul> -->
                                        </li>
                                        <li><a href="contact.html">Contact</a></li>
                                    </ul>              
                                </div>
                            </nav><!-- Main Menu End-->
                                
                            <!-- Main Menu End-->
                            <div class="outer-box clearfix">
                                <!--Search Box-->
                                <div class="search-box-outer">
                                    <div class="dropdown">
                                        <button class="search-box-btn dropdown-toggle" type="button" id="dropdownMenu3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="la la-search"></span></button>
                                        <ul class="dropdown-menu pull-right search-panel" aria-labelledby="dropdownMenu3">
                                            <li class="panel-outer">
                                                <div class="form-container">
                                                    <form method="post" action="https://expert-themes.com/html/ourland/blog.html">
                                                        <div class="form-group">
                                                            <input type="search" name="field-name" value="" placeholder="Search Here" required>
                                                            <button type="submit" class="search-btn"><span class="la la-search"></span></button>
                                                        </div>
                                                    </form>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--End Header Lower-->
    </header>
    <section class="scheme base-padding">
	    <div class="auto-container">
	        <div class="sec-title text-center">
	            <h2>GLOBAL HOUSING SCHEME - HFA</h2>
	        </div>
	        <div class="row">
	            <div class="col-lg-3 col-md-6 col-sm-12">
	                <div class="inner-box">
	                    <div class="image-box">  
	                        <figure class="image"><img class="img-fluid" src="./assets/images/property-2.jpg" alt=""></figure>
	                    </div>
	                </div>
	                <div class="lower-content">
	                    <h5><a href="javascript:void(0)">Construction Technology India - 19</a></h5>
	                    <p class="text-justify">A grand event for innovation technology promotion that facilities  the exchange of knowledge and business and formating potential partnerships.</p>
	                </div>
	            </div>
	            <div class="col-lg-3 col-md-6 col-sm-12">
	                <div class="inner-box">
	                    <div class="image-box">
	                        <figure class="image"><img class="img-fluid" src="./assets/images/property-3.jpg" alt=""></figure>
	                    </div>
	                </div>
	                <div class="lower-content">
	                    <h5><a href="javascript:void(0)">Provel Demonstrable Technologies</a></h5>
	                    <p class="text-justify">Empanelling appropriate established technologies from across the globe, and inducting them in the Indian market through lighthouse projects</p>
	                </div>
	            </div>
	            <div class="col-lg-3 col-md-6 col-sm-12">
	                <div class="inner-box">
	                    <div class="image-box">
	                        <figure class="image"><img class="img-fluid" src="./assets/images/property-4.jpg" alt=""></figure>
	                    </div>
	                </div>
	                <div class="lower-content">
	                    <h5><a href="javascript:void(0)">Potential Technologies Future</a></h5>
	                    <p class="text-justify">Supporting domestc technologies developers by providing incubation acceleration, and market development assistance</p>
	                </div>
	            </div>
	            <div class="col-lg-3 col-md-6 col-sm-12">
	                <div class="inner-box">
	                    <div class="image-box">
	                        <figure class="image"><img class="img-fluid" src="./assets/images/property-5.jpg" alt=""></figure>
	                    </div>
	                </div>
	                <div class="lower-content">
	                    <h5><a href="javascript:void(0)">Light house projects are completed and are ready</a></h5>
	                    <p class="text-justify">Process is well documented, standards are formulated, and learnings used in acedemic curriculam</p>
	                </div>
	            </div>
	            <div class="col-md-12" style="margin-left: 400px">
	                <div class="pagination text-center">
	                    <ul class="list-inline">
	                        <li><a href="#"><<</a></li>
	                        <li class="active"><a href="#">1</a></li>
	                        <li><a href="#">2</a></li>
	                        <li><a href="#">4</a></li>
	                        <li><a href="#">5</a></li>
	                        <li><a href="#">6</a></li>
	                        <li><a href="#">>></a></li>
	                    </ul>
	                </div>
	            </div>
	        </div>
	    </div>
	</section> 
	<section class="about base-padding">
		<div class="auto-container">
			<div class="sec-title text-center">
	            <h2>GLOBAL HOUSING SCHEME - HFA</h2>
	        </div>
			<div class="row">
	        	<div class="col-md-12">
			        <div class="">
			        	<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
			        	<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
			        	<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
			        </div>
	        	</div>
	        </div>
		</div>
	</section>
	<footer class="main-footer" style="background-image: url(images/3.jpg);">
	    <div class="auto-container">
	        <!--Widgets Section-->
	        <div class="widgets-section">
	            <div class="row">
	                <!--Big Column-->
	                <div class="big-column col-xl-7 col-lg-12 col-md-12 col-sm-12">
	                    <div class="row">
	                        
	                        
	                        <!--Footer Column-->
	                        <div class="footer-column col-xl-6 col-lg-6 col-md-6 col-sm-12">
	                            <div class="footer-widget cities-widget">
	                                <h2 class="widget-title"> CITIES</h2>
	                                <div class="widget-content">
	                                    <ul class="list clearfix">
	                                        <li><a href="properties.html">New Delhi</a></li>
	                                        <li><a href="properties.html">Gujarat</a></li>
	                                        <li><a href="properties.html">AP</a></li>
	                                        <li><a href="properties.html">UP</a></li>
	                                        <li><a href="properties.html">Uttrakhand</a></li>
	                                        <li><a href="properties.html">Himachal</a></li>
	                                        <li><a href="properties.html">Haryana</a></li>
	                                        <li><a href="properties.html">Karnataka</a></li>
	                                        <li><a href="properties.html">Kerala</a></li>
	                                        <li><a href="properties.html">JK .. AND many more</a></li>
	                                    </ul>
	                                </div>
	                            </div>
	                        </div>         

	                         <div class="footer-column col-xl-6 col-lg-6 col-md-6 col-sm-12">
	                            <!--Footer Column-->
	                            <div class="footer-widget popular-posts">
	                                <h2 class="widget-title">Popular Posts</h2>
	                                 <!--Footer Column-->
	                                <div class="widget-content">
	                                    <div class="post">
	                                        <div class="thumb"><a href="blog-detail.html"><img src="images/post-thumb-1.jpg" alt=""></a></div>
	                                        <h4><a href="blog-detail.html">New Technology Design and Devlopment </a></h4>
	                                        <!-- <span class="date">1 October, 2018</span> -->
	                                    </div>

	                                    <div class="post">
	                                        <div class="thumb"><a href="blog-detail.html"><img src="images/post-thumb-2.jpg" alt=""></a></div>
	                                        <h4><a href="blog-detail.html">Real Eatate Expo 2019</a></h4>
	                                        <!-- <span class="date">10 October, 2018</span> -->
	                                    </div>
	                                </div>
	                            </div>
	                        </div>
	                    </div>
	                </div>

	                <!--Big Column-->
	                <div class="big-column col-xl-5 col-lg-12 col-md-12 col-sm-12">
	                    <div class="row clearfix">


	                        <!--Footer Column-->
	                        <div class="footer-column col-xl-5 col-lg-6 col-md-6 col-sm-12">
	                            <div class="footer-widget links-widget">
	                                <h2 class="widget-title">USEFUL LINKS</h2>
	                                <div class="widget-content">
	                                    <ul class="list clearfix">
	                                        <li><a href="properties.html"> Builidngs</a></li>
	                                        <li><a href="properties.html">Browe all Categories</a></li>
	                                        <!-- <li><a href="properties.html">Mortagages Rates</a></li> -->
	                                        <li><a href="properties.html">Terms of use</a></li>
	                                        <li><a href="properties.html"> Policy</a></li>
	                                    </ul>
	                                </div>
	                            </div>
	                        </div>

	                        <!--Footer Column-->
	                        <div class="footer-column col-xl-7 col-lg-6 col-md-6 col-sm-12">
	                            <div class="footer-widget contact-widget">
	                                <h2 class="widget-title">Get in Touch</h2>
	                                <div class="widget-content">
	                                    <ul class="contact-list">
	                                        <li><span class="la la-map-marker"></span> Maulana Azad Road, Nirman Bhawan, <br> New Delhi-110011.</li>
	                                        <li><span class="la la-phone"></span>+91-11-23063266, +91-9868992637</li>
	                                        <li><span class="la la-envelope"></span><a href="#">ghtc-mhua@gov.in</a></li>
	                                    </ul>
	                                </div>
	                            </div>
	                        </div>
	                    </div>
	                </div>
	            </div>
	        </div>
	    </div>

	    <!--Footer Bottom-->
	    <div class="footer-bottom">
	        <div class="auto-container">
	            <!--Scroll to top-->
	    <!--             <div class="scroll-to-top scroll-to-target" data-target="html"><span class="la la-angle-double-up"></span></div> -->

	            <div class="inner-container clearfix">
	                <div class="footer-nav">
	                    <ul class="clearfix">
	                       <li><a href="index-2.html">Home</a></li> 
	                       <li><a href="properties.html">Properties</a></li> 
	                       <li><a href="properties.html">Agencies</a></li> 
	                       <li><a href="agents.html">Agent</a></li> 
	                       <li><a href="blog.html">Blogs</a></li> 
	                       <li><a href="contact.html">Contact</a></li> 
	                    </ul>
	                </div>
	                                                                  
	                <div class="copyright-text">
	                    <p>© Copyright 2019 All rights reserved – Developed By <a href="index-2.html">Ministry of Housing and Urban Affairs</a></p>
	                </div>
	            </div>
	        </div>
	    </div>
	</footer>

<script src="js/jquery.js"></script> 
<script src="js/bootstrap.min.js"></script>
</body>
</html>