.modal-content{
    width: 920px;
    /* left: 20px; */
    padding:10px;
}
th{
    width: 90px;
}

#filter{
  background: #eee;
  padding: 10px 0;
}

#filter > * {
  padding: 0 5px !important;
}

#filter > *:first-child {
  padding-left: 10px !important;
}

#filter > *:last-child {
  padding-right: 10px !important;
}

  table, th, td {
     height: 8px;
     font-family: "Open Sans", Arial, sans-serif;
    font-size: 10px;
  }
   
  .tableHeader{
    background-color: #f0ad4e;
  }
  
  @media print {
    body *, #drpdown, #buttonGroup{display : none};
    body #toPrint * {display:none} 
    table {border-collapse: collapse;}
    
    table, td, th {border: 1px solid black}
    #toPrint { padding-left :1px; padding-top :20px;padding-right :1px;}  
   }
  
   
  
  
  
 